﻿
/*#region custom styles*/

.mandatory-indication {
    color: red;
    margin-left: 5px;
    font-size: small;
}

    .mandatory-indication .mandatory-indication-symbol {
        font-size: large;
    }

    .mandatory-indication .mandatory-indication-text {
        font-size: small;
        margin-bottom: 0px !important;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 1px !important;
}

.dataTables_wrapper .dataTables_length {
    display: none;
}

.item-action-btn {
    cursor: pointer;
}

.password-eye:hover {
    cursor: pointer !important;
}

/*.container {
    width: 100% !important;
}

.confirmation-modal {
    width: 450px;
    margin-left: 75px !important;
}

.main-sidebar {
    border-right: 1px solid #00d1f6 !important;
}*/
/*#endregion custom styles*/
/*#region image cropper custom styles */
.btn {
    padding-left: .75rem;
    padding-right: .75rem;
}

label.btn {
    margin-bottom: 0;
}

.d-flex > .btn {
    flex: 1;
}

.carbonads {
    border-radius: .25rem;
    border: 1px solid #ccc;
    font-size: .875rem;
    overflow: hidden;
    padding: 1rem;
}

.carbon-wrap {
    overflow: hidden;
}

.carbon-img {
    clear: left;
    display: block;
    float: left;
}

.carbon-text,
.carbon-poweredby {
    display: block;
    margin-left: 140px;
}

    .carbon-text,
    .carbon-text:hover,
    .carbon-text:focus {
        color: #fff;
        text-decoration: none;
    }

    .carbon-poweredby,
    .carbon-poweredby:hover,
    .carbon-poweredby:focus {
        color: #ddd;
        text-decoration: none;
    }

@media (min-width: 768px) {
    .carbonads {
        float: right;
        margin-bottom: -1rem;
        margin-top: -1rem;
        max-width: 360px;
    }
}


.footer {
    font-size: .875rem;
}

.heart {
    color: #ddd;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
}

    .heart:hover {
        color: #ff4136;
    }

    .heart::before {
        border-top: 1px solid #eee;
        content: " ";
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }

    .heart::after {
        background-color: #fff;
        content: "♥";
        padding-left: .5rem;
        padding-right: .5rem;
        position: relative;
        z-index: 1;
    }

.img-container,
.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.img-container {
    margin-bottom: 1rem;
    max-height: 497px;
    min-height: 200px;
}

@media (min-width: 768px) {
    .img-container {
        height: 497px;
    }
}

.img-container > img {
    max-width: 100%;
}

.docs-preview {
    margin-right: -1rem;
}

.img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

    .img-preview > img {
        max-width: 100%;
    }

.preview-lg {
    height: 9rem;
    width: 16rem;
}

.preview-md {
    height: 4.5rem;
    width: 8rem;
}

.preview-sm {
    height: 2.25rem;
    width: 4rem;
}

.preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
}

.docs-data > .input-group {
    margin-bottom: .5rem;
}

    .docs-data > .input-group > label {
        justify-content: center;
        min-width: 5rem;
    }

    .docs-data > .input-group > span {
        justify-content: center;
        min-width: 3rem;
    }

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
    margin-bottom: .5rem;
    margin-right: .25rem;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
    margin-bottom: .5rem;
}

.docs-tooltip {
    display: block;
    margin: -.5rem -.75rem;
    padding: .5rem .75rem;
}

    .docs-tooltip > .icon {
        margin: 0 -.25rem;
        vertical-align: top;
    }

.tooltip-inner {
    white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
    white-space: nowrap;
}

.btn-toggle {
    padding: .5rem;
}

    .btn-toggle > .docs-tooltip {
        margin: -.5rem;
        padding: .5rem;
    }

@media (max-width: 400px) {
    .btn-group-crop {
        margin-right: -1rem !important;
    }

        .btn-group-crop > .btn {
            padding-left: .5rem;
            padding-right: .5rem;
        }

        .btn-group-crop .docs-tooltip {
            margin-left: -.5rem;
            margin-right: -.5rem;
            padding-left: .5rem;
            padding-right: .5rem;
        }
}


.docs-options .dropdown-menu {
    width: 100%;
}

    .docs-options .dropdown-menu > li {
        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

        .docs-options .dropdown-menu > li:hover {
            background-color: #f7f7f7;
        }

        .docs-options .dropdown-menu > li > label {
            display: block;
        }

.docs-cropped .modal-body {
    text-align: center;
}

    .docs-cropped .modal-body > img,
    .docs-cropped .modal-body > canvas {
        max-width: 100%;
    }

.cropper-container .cropper-bg {
    width: 100% !important;
    height: 100% !important;
}

.inputImage img {
    width: 100% !important;
    height: 100% !important;
}


.img-preview-container {
    position: relative;
    width: 50%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-preview-container:hover .rounded-circle {
    opacity: 0.3;
    cursor: pointer;
}

.img-preview-container:hover .img-square {
    opacity: 0.3;
    cursor: pointer;
    border-radius: 0px !important;
}

.img-preview-container:hover .middle {
    opacity: 10;
}

#reset-password-box .form-control {
    width: 50%;
}

.img-product-preview {
    margin-bottom: 20px;
}

.product-img-remove {
    background-color: #d73925;
    width: 15px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    color: white;
    text-align: center;
    text-size-adjust: auto;
    right: 3%;
    top: -10%;
}

    .product-img-remove:hover {
        cursor: pointer;
    }

.navbar .navbar-static-top {
    background-color: #00d1f6 !important;
}


/*#endregion */


/*#region Custom CSS for DashKit**/

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md .navbar-brand {
        padding-top: 0rem;
    }
}

.navbar-nav .nav-link > .svg-inline--fa {
    min-width: 1.75rem;
    padding-bottom: .125em;
    font-size: 1.0625rem;
    line-height: 1.40625rem;
}

.navbar-nav .nav-link > .svg-inline--fa {
    display: inline-block;
    min-width: 1.75rem;
}


.icon > .svg-inline--fa {
    display: block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-size: 1.0625rem
}

.icon.active > .svg-inline--fa {
    -webkit-mask-image: url(../img/masks/icon-status.svg);
    mask-image: url(../img/masks/icon-status.svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.svg-inline--fa {
    line-height: inherit
}

.dropdown, .dropleft, .dropright, .dropup {
    margin: 0px 2px;
}

/*#endregion Custom CSS for DashKit**/
