﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewData["Title"]
                    <small>@ViewData["SubTitle"]</small>
                </h1>
                @RenderSection("breadcrumb", required: false)

            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                @RenderBody()

                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>

    </section>
    @RenderSection("styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
