﻿<ul class="navbar-nav">
          <!-- Dashboard-->
          <li class="nav-item">
              <a class="nav-link" asp-page="/Modules/Dashboard" nav-page="/Modules/Dashboard" role="button" id="dashboardsMenu">
                  <i class="fas fa-home" data-fa-transform="left-6"></i> Dashboards
              </a>
        </li>

    <!--Accounting-->
    <li class="nav-item">
        <a class="nav-link" href="#sidebarAccounting" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAccounting" id="sidebarAccountingMenu">
            <i class="fas fa-dollar-sign" data-fa-transform="left-6"></i> Accounting
        </a>
        <div class="collapse" id="sidebarAccounting">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-page="/Modules/Sales/Orders" nav-page="/Modules/Sales/Orders" class="nav-link" id="sidebarAccountingMenu-orders" parent="sidebarAccountingMenu">
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Modules/Sales/Invoice" nav-page="/Modules/Sales/Invoice" class="nav-link " id="sidebarAccountingMenu-invoices" parent="sidebarAccountingMenu">
                        Invoices
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/Sales/Shipments" class="nav-link " id="sidebarAccountingMenu-shipments" parent="sidebarAccountingMenu">
                        Shipments
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/Sales/CreditMemos" class="nav-link " id="sidebarAccountingMenu-creditmemos" parent="sidebarAccountingMenu">
                        Credit Memos
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <!--Catalog-->
    <li class="nav-item">
        <a class="nav-link" href="#sidebarCatalog" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCatalog" id="sidebarCatalogMenu">
            <i class="fas fa-cube" data-fa-transform="left-6"></i> Catalog
        </a>
        <div class="collapse" id="sidebarCatalog">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-page="/Modules/Catalog/Products" nav-page="/Modules/Catalog/Products" class="nav-link" id="sidebarCatalogMenu-products" parent="sidebarCatalogMenu">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Modules/Catalog/Categories" nav-page="/Modules/Catalog/Categories" class="nav-link" id="sidebarCatalogMenu-categories" parent="sidebarCatalogMenu">
                        Categories
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <!--Vendor management-->
    <li class="nav-item">
        <a class="nav-link" href="#sidebarVendorManager" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCatalog" id="sidebarVendorManagerMenu">
            <i class="fas fa-warehouse" data-fa-transform="left-6"></i> Vendor Management
        </a>
        <div class="collapse" id="sidebarVendorManager">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/VendorManagement/Brand" class="nav-link" id="sidebarVendorManagerMenu-brand" parent="sidebarVendorManagerMenu">
                        Brand
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/VendorManagement/Promotions" class="nav-link" id="sidebarVendorManagerMenu-promotions" parent="sidebarVendorManagerMenu">
                        Promotions
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <!--Customers-->
    <li class="nav-item">
        <a class="nav-link" href="#sidebarCustomers" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCatalog" id="sidebarCustomersMenu">
            <i class="fas fa-user-friends" data-fa-transform="left-6"></i> Customers
        </a>
        <div class="collapse" id="sidebarCustomers">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/Customers/AllCustomers" class="nav-link" id="sidebarCustomersMenu-all-customers" parent="sidebarCustomersMenu">
                        All Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/Customers/NowOnline" class="nav-link" id="sidebarCustomersMenu-now-online" parent="sidebarCustomersMenu">
                        Now Online
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/underconstruction" nav-page="/Modules/Customers/CustomerGroups" class="nav-link" id="sidebarCustomersMenu-customer-groups" parent="sidebarCustomersMenu">
                        Customer Groups
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <!-- Users-->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Modules/user/Users" nav-page="/Modules/user/Users" role="button" id="sidebarUsersMenu">
            <i class="fas fa-id-badge" data-fa-transform="left-6"></i> Users
        </a>
    </li>

    <!-- Settings -->
    <li class="nav-item">
        <a class="nav-link" href="#sidebarConfiguration" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarConfiguration" id="sidebarConfigurationMenu">
            <i class="fas fa-cog" data-fa-transform="left-6"></i> Settings
        </a>
        <div class="collapse" id="sidebarConfiguration">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-page="/Modules/Configuration/Attributes" nav-page="/Modules/Configuration/Attributes" class="nav-link" id="sidebarConfigurationMenu-categories" parent="sidebarConfigurationMenu">
                        Attributes
                    </a>
                </li>
            </ul>
        </div>
    </li>


    <li class="nav-item d-md-none">
        <a class="nav-link" data-toggle="modal">
            <span class="fe fe-bell"></span> Notifications
        </a>
    </li>
    </ul>