﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Maheen admin portal" />
    <link rel="icon" type="image/png" href="~/img/custom/logo-small.png" />



    <!-- Title -->
    <title>Maheen | Admin</title>


    @*#region DashKit Template styles*@

    <!-- #regin Libs CSS -->
    <link rel="stylesheet" href="~/fonts/feather/feather.css" />
    <link rel="stylesheet" href="~/libs/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="~/libs/quill/dist/quill.core.css" />
    <link rel="stylesheet" href="~/libs/highlightjs/styles/vs2015.css" />

    <!-- Map -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Custom Theme CSS -->
    <script src="https://kit.fontawesome.com/79c5e0056b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.min.css">
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" /> @*overwrite toasts style*@
    @*#endregion DashKit Template styles*@

    @*#region Custom/External CSS*@

    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/plugins/loading-waitme/css/waitMe.min.css" rel="stylesheet" />
    <link href="~/plugins/cropperjs/css/cropper.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/datetimepicker/bootstrap-datetimepicker.css">

    @RenderSection("styles", required: false)

    <link href="~/plugins/treeview-checkbox/css/jquery.treeview.css" rel="stylesheet" />
    <link href="~/plugins/checkbox-toggle/checkboxes.css" rel="stylesheet" />
    <link href="~/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />

    @*#endregion Custom/External CSS*@


    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/libs/jquery/dist/jquery.cookie.js"></script>

    <script src="~/libs/moment/min/moment.min.js"></script>
    <script src="~/plugins/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/plugins/loading-waitme/js/waitMe.min.js"></script>
    <script src="~/plugins/loading-waitme/js/loading-waitme.js"></script>
    <script src="~/plugins/treeview-checkbox/js/jquery.treeview.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/datatable/datatables.min.js"></script>
    <script src="~/plugins/datatable/datetime.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/js/bootbox.all.min.js"></script>
    <script src="~/plugins/cropperjs/js/cropper.js"></script>
    <script src="~/js/appmain.js"></script>

</head>
<body>
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- NAVIGATION
        ================================================== -->


        <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
            <div class="container-fluid">

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="./index.html">
                    <img src="~/img/custom/logo.png" class="navbar-brand-img mx-auto" alt="...">
                </a>

                <!-- User (xs) -->
                <div class="navbar-user d-md-none">

                    <!-- Dropdown -->
                    <div class="dropdown">

                        <!-- Toggle -->
                        <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-sm avatar-online">
                                <img src="" class="avatar-img rounded-circle user-image" onerror="this.onerror=null; this.src='https://merricart-dev.s3.ap-south-1.amazonaws.com/user/no-user.png'" alt="...">
                            </div>
                        </a>

                        <!-- Menu -->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
                            <a asp-page="/Modules/User/UserProfile" class="dropdown-item">Profile</a>
                            <a href="./settings.html" class="dropdown-item">Settings</a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item" onclick="logoutUser()">Logout</a>
                        </div>

                    </div>

                </div>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">

                    <!-- Form -->
                    <form class="mt-4 mb-3 d-md-none">
                        <div class="input-group input-group-rounded input-group-merge">
                            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fe fe-search"></span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Navigation -->
                    @*@Html.Partial("_MainMenu")*@
                    <ul class="navbar-nav" id="app-nav">
                    </ul>

                    <!-- Divider -->
                    <hr class="navbar-divider my-3">


                    <!-- Push content down -->
                    <div class="mt-auto"></div>





                </div> <!-- / .navbar-collapse -->

            </div>
        </nav>

        <div class="main-content">

            <nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
                <div class="container-fluid">

                    <!-- Form -->
                    <form class="form-inline mr-4 d-none d-md-flex">
                        <div class="input-group input-group-flush input-group-merge" data-toggle="lists" data-options='{"valueNames": ["name"]}'>

                            <!-- Input -->
                            <input type="search" class="form-control form-control-prepended dropdown-toggle search" data-toggle="dropdown" placeholder="Search" aria-label="Search" />

                            <!-- Prepend -->
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-search"></i>
                                </div>
                            </div>

                            <!-- Menu -->
                            <div class="dropdown-menu dropdown-menu-card">
                                <div class="card-body">

                                    <!-- List group -->
                                    <div class="list-group list-group-flush list my-n3">
                                    </div>
                                </div>
                            </div> <!-- / .dropdown-menu -->

                        </div>
                    </form>

                    <!-- User -->
                    <div class="navbar-user">

                        <!-- Dropdown -->
                        <div class="dropdown mr-4 d-none d-md-flex">

                            <!-- Toggle -->
                            <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon active">
                                    <i class="fe fe-bell"></i>
                                </span>
                            </a>

                            <!-- Menu -->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                                <div class="card-header">

                                    <!-- Title -->
                                    <h5 class="card-header-title">
                                        Notifications
                                    </h5>

                                    <!-- Link -->
                                    <a href="#!" class="small">
                                        View all
                                    </a>

                                </div> <!-- / .card-header -->
                                <div class="card-body">

                                    <!-- List group -->
                                    <div class="list-group list-group-flush list-group-activity my-n3">
                                    </div>
                                </div>
                            </div> <!-- / .dropdown-menu -->
                        </div>

                        <!-- Dropdown -->
                        <div class="dropdown">

                            <!-- Toggle -->
                            <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="" class="avatar-img rounded-circle user-image" onerror="this.onerror=null; this.src='https://merricart-dev.s3.ap-south-1.amazonaws.com/user/no-user.png'" alt="...">
                            </a>

                            <!-- Menu -->
                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-page="/Modules/User/UserProfile" class="dropdown-item">Profile</a>
                                <a href="./settings.html" class="dropdown-item">Settings</a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item" onclick="logoutUser()">Logout</a>
                            </div>

                        </div>

                    </div>

                </div>
            </nav>



            <!-- CARDS -->
            <div id="app-page-content">
                <div>
                    <section style="display:none;">
                        @RenderSection("breadcrumb", required: false)
                    </section>
                    <section id="renderbody">
                        <div class="container-fluid" style="padding:20px !important;">
                            @RenderBody()
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    <div class="modal fade" tabindex="-1" role="dialog" id="logout-alert-dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:500px;margin-left:100px;margin-top:50%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Logout alert!</h4>
                </div>
                <div class="modal-body">
                    <label id="logout-alert-message">You are idle for long time, you will be logged out in </label> <label id="logout-timer"></label> <label> minute(s)...</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="loggedout-indication-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:500px;margin-left:100px;margin-top:50%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Session Expired!</h4>
                </div>
                <div class="modal-body">
                    <label id="logout-alert-message">Your session has been expired! Please sign in again</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="logoutUser()" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="image-cropper-modal">
        <div class="modal-dialog" role="document" style="width:100%;">
            <div class="modal-content" style="width:1080px;max-width:1080px !important;margin-left:-35% !important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="cropper-html">
                </div>

            </div>
        </div>
    </div>

</body>
<!-- JAVASCRIPT
  ================================================== -->
<!-- Libs JS -->
<script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="~/libs/@shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>*@
<script src="~/libs/autosize/dist/autosize.min.js"></script>
<script src="~/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="~/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="~/libs/highlightjs/highlight.pack.min.js"></script>
<script src="~/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="~/libs/list.js/dist/list.min.js"></script>
<script src="~/libs/quill/dist/quill.min.js"></script>
<script src="~/libs/select2/dist/js/select2.full.min.js"></script>
<script src="~/libs/chart.js/Chart.extension.js"></script>

<!-- Map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!--Custom Libs JS-->
@*<script src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>*@
<script src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js'></script>

<!-- Theme JS -->
<script src="~/js/theme.min.js"></script>
<script src="~/js/dashkit.min.js"></script>
</html>
