﻿@page
@model MerricartPresentation.AttributesModel
@{
    ViewData["Title"] = "Attributes";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fe fe-catalog"></i> Configration</a></li>
        <li class="active">Attributes</li>
    </ol>
}

<div class="row">
    <div class="col-12">
        <div id="attribute-list-card" class="card" style="float:left;width:49%;">
            <div class="card-header ">
                <h3 class="card-header-title">Attribute List</h3>
                <div class="card-tools pull-right">
                    <button style="float:right;" class="btn lift btn-primary" onclick="addNewAttribute()"><span>Add attribute</span><i class="fe fe-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="attribute-list" class="table-responsive">
                    <table id="attribute-table" class="table table-sm table-nowrap card-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Attribute Name</th>
                                <th>IsActive</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="add-attribute-card" class="card" style="float:right;width:49%;">
            <div class="card-header ">
                <h3 class="card-header-title" id="add-edit-attribute"></h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Remove" onclick="cancelAttribute()"><i class="fe fe-x"></i></button>
                </div><!-- /.card-tools -->
            </div><!-- /.card-header -->
            <div class="card-body">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Attribute Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Attribute Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">IsActive</label>
                        <div class="col-sm-10 ckbx-style-13">
                            <input type="checkbox" class="form-check-input" id="isactive-attribute">
                            <label for="isactive-attribute"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelAttribute()">Cancel</button>
                    <button class="btn lift btn-primary edit-attribute-form" onclick="confirmEditAttribute()">update</button>
                    <button class="btn lift btn-primary create-attribute-form" onclick="confirmCreateCategory()">Create</button>
                </div>
            </div>
        </div><!-- /.card -->

        <div id="multi-update-attribute-value-card" class="card" style="display:none;">
            <div class="card-header ">
                <h3 class="card-header-title" id="multi-update-attribute-value"></h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Remove" onclick="cancelMultiUpdateAttributeValue()"><i class="fe fe-x"></i></button>
                </div><!-- /.card-tools -->
            </div><!-- /.card-header -->
            <div class="card-body">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Attribute Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Attribute Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">IsActive</label>
                        <div class="col-sm-10 ckbx-style-13">
                            <input type="checkbox" class="form-check-input" id="isactive-attribute">
                            <label for="isactive-attribute"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelAttribute()">Cancel</button>
                    <button class="btn lift btn-primary edit-attribute-form" onclick="confirmEditAttribute()">update</button>
                    <button class="btn lift btn-primary create-attribute-form" onclick="confirmCreateCategory()">Create</button>
                </div>
            </div>
        </div><!-- /.card -->


    </div>
</div>

<script type="text/javascript">

    var attributeInfoOnAction = null;
    var attributeDataTableSourceData = null;
    var attributeDataTable = null;

    initializePage();

    function initializePage() {
        loadAttributeList();
        //getAllAttributes();
    }

    function loadAttributeList() {
        showAttributeList();
        drawAttributeDataTable();
    }

    function showAttributeList() {
        $("div#attribute-list-card").show();
        $("div#add-attribute-card").hide();
    }

    function drawAttributeDataTable() {
        if (attributeDataTable != null) {
            attributeDataTable.fnDestroy();
        }
        attributeDataTable = $('#attribute-table').dataTable({
            "paging": true,
            "ordering": true,
            "filter": true,
            "destroy": true,
            "orderMulti": false,
            "serverSide": true,
            "Processing": true,
            "columnDefs": [
                { "width": "5%", "targets": [0] }
            ],
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax":
            {
                "url": apiUrl + "api/attribute/GetAllAttributes",
                "type": "GET",
                "dataType": "JSON",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
                },
                "dataSrc": function (response) {
                    attributeDataTableSourceData = response;
                    return attributeDataTableSourceData.data;
                }
            },
            "drawCallback": function (settings) {
                applyDataTableCheckboxValues();
            },
            "aoColumns": [
                {
                    "mDataProp": "id",
                    "sortable": false
                },
                { "mDataProp": "name" },
                {
                    "mDataProp": "isActive",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        return '<div class="ckbx-style-13"><input disabled type="checkbox" class="form-check-input" id="isactive-attribute_' + full.id + '"><label for="isactive-attribute_' + full.id + '"></label></div>';
                    }
                },
                {
                    "mDataProp": "",
                    "defaultContent": '<i style="width:30%;" class="fe fe-x-circle item-action-btn lift tree-item-remove-btn" onclick="confirmDeleteAttribute(event)"></i><i style="width:30%;" class="fe fe-edit-3 item-action-btn lift tree-item-edit-btn" onclick="editAttribute(event)"></i>',
                    "searchable": false,
                    "sortable": false
                }

            ]
        })
    }

    function applyDataTableCheckboxValues() {
        $.each(attributeDataTableSourceData.data, function (index, obj) {
            $("#isactive-attribute_" + obj.id + "")[0].checked = obj.isActive;

        })
    }

    function editAttribute(e) {
        setAttributeInfoOnAction(e);
        var boxHeader = "Edit attribute : " + attributeInfoOnAction.name;
        $("#add-edit-attribute").text(boxHeader);

        $(".edit-attribute-form").show();
        $(".create-attribute-form").hide();

        clearAttributeForm();
        loadAddEditAttributeForm();
    }

    function cancelAttribute() {
        showAttributeList()();
        clearAttributeForm();
        attributeInfoOnAction = null;
    }

    function clearAttributeForm() {
        $("#name")[0].value = "";
        $("#isactive-attribute")[0].checked = false;
    }

    function resetAttributeInfoOnAction() {
        attributeInfoOnAction = { id: 0, name: "", isActive: false };
    }

    function loadAddEditAttributeForm() {

        $("#name")[0].value = attributeInfoOnAction.name;
        $("#isactive-attribute")[0].checked = attributeInfoOnAction.isActive;

        //$("div#attribute-list-card").hide();
        $("div#add-attribute-card").show();
    }

    function confirmDeleteAttribute(e) {
        setAttributeInfoOnAction(e);

        bootbox.confirm({
            title: "Delete operation!",
            message: "Do you want to delete this Attribute? This cannot be undone.",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { deleteAttribute() };
            }
        });

    }

    function setAttributeInfoOnAction(e) {
        var sourceData = e.target.parentElement.parentElement.cells;
        attributeInfoOnAction = {};
        attributeInfoOnAction.id = Number.parseInt(sourceData[0].textContent);
        attributeInfoOnAction.name = sourceData[1].textContent;
        attributeInfoOnAction.isActive = $("#isactive-attribute_" + attributeInfoOnAction.id + "")[0].checked;
    }

    function confirmEditAttribute() {
        if (validateAttributeForm()) {

            bootbox.confirm({
                title: "Update Attribute!",
                message: "Are you sure, do you want to Update this Attribute?",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { updateAttribute() };
                }
            });
        }
    }

    function confirmCreateCategory() {
        if (validateAttributeForm()) {

            bootbox.confirm({
                title: "Create New Attribute!",
                message: "Are you sure, do you want to Create this Attribute as New?",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { createNewAttribute() };
                }
            });

        }
    }

    function getAllAttributes() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/attribute/GetAllAttributes",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');

            }
        });
    }

    function deleteAttribute() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/attribute/DeleteAttribute/" + attributeInfoOnAction.id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');

                if (result.response) {
                    //loadAttributeList();

                    $("#confirm-dialog").modal("hide");
                    toastr["success"]("Attribute deleted!")
                    loadAttributeList();
                }
                else {
                    toastr["error"]("Failed to delete attribute!")
                }
            }
        });
    }

    function getAttributeFormInputValues() {
        attributeInfoOnAction.name = $("#name")[0].value;
        attributeInfoOnAction.isActive = $("#isactive-attribute")[0].checked;
    }

    function createNewAttribute() {
        waitMe_show('#app-page-content');
        getAttributeFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/attribute/InsertAttribute/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(attributeInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    //getAllAttributes();
                    attributeInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    //loadAttributeList();
                    toastr["success"]("New Attribute Created!")
                    loadAttributeList();
                }
                else {
                    toastr["error"]("Failed to create attribute!")
                }
            }
        });
    }

    function updateAttribute() {
        waitMe_show('#app-page-content');
        getAttributeFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/attribute/UpdateAttribute/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(attributeInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    //getAllAttributes();
                    attributeInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    //loadAttributeList();
                    toastr["success"]("Attribute updated!");
                    loadAttributeList();
                }
                else {
                    toastr["error"]("Failed to update Attribute!")
                }
            }
        });
    }

    function validateAttributeForm() {
        if ($("#name")[0].value.trim() == "") {
            toastr["warning"]("Please enter all mandatory fields!")
            return false;
        }
        else {
            return true;
        }
    }

    function addNewAttribute() {

        resetAttributeInfoOnAction();
        attributeInfoOnAction.id = 0;
        attributeInfoOnAction.isActive = true;

        var boxHeader = "Add New attribute";
        $("#add-edit-attribute").text(boxHeader);

        $(".edit-attribute-form").hide();
        $(".create-attribute-form").show();

        clearAttributeForm();
        loadAddEditAttributeForm();
    }

</script>



