﻿@page
@{
    ViewData["Title"] = "Role Access";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fe fe-catalog"></i> Configration</a></li>
        <li class="active">Role Access</li>
    </ol>
}

<div class="row">
    <div class="col-12">
        <div id="role-list-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title">Role List</h3>
                <div class="card-tools pull-right">
                    <button style="float:right;" class="btn lift btn-primary" onclick="addNewRole()"><span>Add role</span><i class="fe fe-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="role-list" class="table-responsive">
                    <table id="role-table" class="table table-sm table-nowrap card-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Role</th>
                                <th>Modules</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="add-role-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title" id="add-edit-role"></h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Remove" onclick="cancelRole()"><i class="fe fe-x"></i></button>
                </div><!-- /.card-tools -->
            </div><!-- /.card-header -->
            <div class="card-body">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Role Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="rolename" placeholder="Role Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Modules
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="role-module[]" id="modulelist" class="form-control" multiple="multiple" style="width:100%;">
                            </select>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelRole()">Cancel</button>
                    <button class="btn lift btn-primary edit-role-form" onclick="confirmEditRole()">update</button>
                    <button class="btn lift btn-primary create-role-form" onclick="confirmCreateRole()">Create</button>
                </div>
            </div>
        </div><!-- /.card -->

    </div>
</div>

<script type="text/javascript">

    var roleInfoOnAction = null;
    var roleDataTableSourceData = null;
    var roleDataTable = null;
    var moduleList = [];

    initializePage();

    function initializePage() {
        getAllModules();
        loadRoleList();
    }

    function loadRoleList() {
        showRoleList();
        drawRoleDataTable();
    }

    function showRoleList() {
        $("div#role-list-card").show();
        $("div#add-role-card").hide();
    }

    function getAllModules() {
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/admin/GetAllModules",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                if (result.response != null) {
                    moduleList = $.map(result.response, function (e) {
                        return { "id": e.id, "text": e.moduleName };
                    });
                }
            }
        });
    }

    function drawRoleDataTable() {
        if (roleDataTable != null) {
            roleDataTable.fnDestroy();
        }
        roleDataTable = $('#role-table').dataTable({
            "paging": true,
            "ordering": true,
            "filter": true,
            "destroy": true,
            "orderMulti": false,
            "serverSide": true,
            "Processing": true,
            "columnDefs": [
                { "width": "5%", "targets": [0] },
                { "width": "20%", "targets": [1] },
                { "width": "45%", "targets": [2] },
                { "width": "25%", "targets": [3] }
            ],
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax":
            {
                "url": apiUrl + "api/admin/GetRoleList",
                "type": "GET",
                "dataType": "JSON",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
                },
                "dataSrc": function (response) {
                    roleDataTableSourceData = response;
                    return roleDataTableSourceData.data;
                }
            },
            "drawCallback": function (settings) {
                //applyDataTableCheckboxValues();
            },
            "aoColumns": [
                {
                    "mDataProp": "id",
                    "sortable": false
                },
                { "mDataProp": "roleName" },
                { "mDataProp": "moduleName" },
                {
                    "mDataProp": "isActive",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        var actionButtons = '';
                        if (full.isSystemDefined != true) {
                            actionButtons = '<i class="fe fe-x-circle item-action-btn lift tree-item-remove-btn" onclick="confirmDeleteRole(event)"></i><i class="fe fe-edit-3 item-action-btn lift tree-item-edit-btn" onclick="editRole(event)"></i>'
                        }
                        return actionButtons;
                    }
                },

            ]
        })
    }

    function editRole(e) {
        setRoleInfoOnAction(e);
        var boxHeader = "Edit role : " + roleInfoOnAction.roleName;
        $("#add-edit-role").text(boxHeader);

        $(".edit-role-form").show();
        $(".create-role-form").hide();

        clearRoleForm();
        loadAddEditRoleForm();
    }

    function setRoleInfoOnAction(e) {
        var sourceData = e.target.parentElement.parentElement.cells;
        roleInfoOnAction = {};
        roleInfoOnAction.id = Number.parseInt(sourceData[0].textContent);
        roleInfoOnAction.roleName = sourceData[1].textContent;
        roleInfoOnAction.accessibleModules = [];

        $.each(sourceData[2].textContent.split(','), function (key, value) {
            var selectedModules = $.grep(moduleList, function (e) {
                return e.text == value.trim();
            });
            if (selectedModules != null && selectedModules.length > 0) {
                roleInfoOnAction.accessibleModules.push(selectedModules[0].id);
            }
        });
    }

    function clearRoleForm() {
        $("#rolename")[0].value = "";
    }

    function loadAddEditRoleForm() {

        $("#rolename")[0].value = roleInfoOnAction.roleName;

        $('#modulelist').select2({
            data: moduleList
        }).on('select2:select', function (e) {
        }).on('select2:unselect', function (e) {
        });
        $('#modulelist').val(roleInfoOnAction.accessibleModules).trigger('change');
        $("div#role-list-card").hide();
        $("div#add-role-card").show();

    }

    function addNewRole() {
        resetRoleInfoOnAction();
        roleInfoOnAction.id = 0;

        var boxHeader = "Add New role";
        $("#add-edit-role").text(boxHeader);

        $(".edit-role-form").hide();
        $(".create-role-form").show();

        clearRoleForm();
        loadAddEditRoleForm();
    }

    function resetRoleInfoOnAction() {
        roleInfoOnAction = { id: 0, roleName: "", accessibleModules: "" };
    }

    function cancelRole() {
        showRoleList();
        clearRoleForm();
        roleInfoOnAction = null;
    }

    function confirmDeleteRole(e) {
        setRoleInfoOnAction(e);

        bootbox.confirm({
            title: "Delete operation!",
            message: "Do you want to delete this role? This cannot be undone.",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { deleteRole() };
            }
        });
    }

    function confirmEditRole() {
        if (validateRoleForm()) {

            bootbox.confirm({
                title: "Update Role!",
                message: "Are you sure, do you want to Update this Role? ",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { updateRole() };
                }
            });

        }
    }

    function confirmCreateRole() {
        if (validateRoleForm()) {

            bootbox.confirm({
                title: "Create new Role!",
                message: "Are you sure, do you want to Create this Role as New? ",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { createRole() };
                }
            });
        }
    }

    function getRoleFormInputValues() {
        roleInfoOnAction.roleName = $("#rolename")[0].value;
        roleInfoOnAction.accessibleModules = $('#modulelist').val().toString();
    }

    function updateRole() {
        waitMe_show('#app-page-content');
        getRoleFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/admin/UpdateRole/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(roleInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    roleInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    loadRoleList();
                    toastr["success"]("Role updated!")
                }
                else {
                    toastr["error"]("Failed to update Role!")
                }
            }
        });
    }

    function createRole() {
        waitMe_show('#app-page-content');
        getRoleFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/admin/createRole/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(roleInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    roleInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    loadRoleList();
                    toastr["success"]("New Role Created!")
                }
                else {
                    toastr["error"]("Failed to create role!")
                }
            }
        });
    }

    function deleteRole() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/admin/DeleteRole/" + roleInfoOnAction.id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');

                if (result.response) {
                    loadRoleList();

                    $("#confirm-dialog").modal("hide");
                    toastr["success"]("Role deleted!")
                }
                else {
                    toastr["error"]("Failed to delete Role!")
                }
            }
        });
    }

    function validateRoleForm() {
        if ($("#rolename")[0].value.trim() == "" || $('#modulelist').val().toString().trim() == "") {
            toastr["warning"]("Please enter all mandatory fields!")
            return false;
        }
        else {
            return true;
        }
    }

</script>