﻿@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Maheen admin portal" />

    <link rel="icon" type="image/png" href="~/img/custom/logo-small.png" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/fonts/feather/feather.css" />
    <link rel="stylesheet" href="~/libs/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="~/libs/quill/dist/quill.core.css" />
    <link rel="stylesheet" href="~/libs/highlightjs/styles/vs2015.css" />

    <!-- Map -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Theme CSS -->

    <link rel="stylesheet" href="~/css/theme.min.css">
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />

    <!-- Title -->
    <title>Maheen | Sign in</title>

</head>


<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container" id="login-div">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

                <!-- Image -->
                <div class="text-center">

                    <img src="~/img/custom/logo.png" alt="..." class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Sign in
                </h1>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    to Maheen Admin portal
                </p>

                <!-- Form -->
                <form>

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label>Email Address</label>

                        <!-- Input -->
                        <input id="email" type="email" class="form-control" placeholder="name@address.com">

                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        <div class="row">
                            <div class="col">

                                <!-- Label -->
                                <label>Password</label>

                            </div>
                            <div class="col-auto">

                                <!-- Help text -->
                                <a href="javascript:void(0)" class="form-text small text-muted" onclick="showForgotPassword()">
                                    Forgot password?
                                </a>

                            </div>
                        </div> <!-- / .row -->
                        <!-- Input group -->
                        <div class="input-group input-group-merge">

                            <!-- Input -->
                            <input id="pass" type="password" class="form-control form-control-appended" placeholder="Enter your password">

                            <!-- Icon -->
                            <div class="input-group-append">
                                <span class="input-group-text password-eye" control-for="pass">
                                    <i class="fe fe-eye"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary mb-3" id="signin-btn" onclick="login()">
                        Sign in
                    </button>

                    <!-- Link
                    <div class="text-center">
                        <small class="text-muted text-center">
                            Don't have an account yet? <a href="sign-up-illustration.html">Sign up</a>.
                        </small>
                    </div> -->

                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- CONTENT
    ================================================== -->
    <div class="container" id="forgot-password-div" style="display:none;">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

                <!-- Image -->
                <div class="text-center">
                    <img src="~/img/custom/logo.png" alt="..." class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Password reset
                </h1>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    Enter your email to get a temporary password.
                </p>

                <!-- Form -->
                <form>

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label>Email Address</label>

                        <!-- Input -->
                        <input id="forgot-email" type="email" class="form-control" placeholder="name@address.com">

                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary mb-3" onclick="getPassword()">
                        Reset Password
                    </button>

                    <!-- Link -->
                    <div class="text-center">
                        <small class="text-muted text-center">
                            Remember your password? <a href="javascript:void(0)" onclick="showLogin()">Log in</a>.
                        </small>
                    </div>

                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/libs/jquery/dist/jquery.cookie.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>
    <script src="~/libs/autosize/dist/autosize.min.js"></script>
    <script src="~/libs/chart.js/dist/Chart.min.js"></script>
    <script src="~/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="~/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="~/libs/list.js/dist/list.min.js"></script>
    <script src="~/libs/quill/dist/quill.min.js"></script>
    <script src="~/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/libs/chart.js/Chart.extension.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="~/js/theme.min.js"></script>
    <script src="~/js/dashkit.min.js"></script>

    <script type="text/javascript">

        var apiUrl = "http://localhost:52696/";

        initializePage();
        function initializePage() {
            showLogin();
        }

        function showLogin() {

            $("#login-div").show();

            $("#forgot-password-div").hide();
            enableLoginBtn();
            disableRsestPasswordBtn();
        }

        function showForgotPassword() {
            $("#login-div").hide();

            $("#forgot-password-div").show();
            disableLoginBtn();
            disableRsestPasswordBtn();
        }


        function login() {
            event.preventDefault();
            if ($("#email")[0].value.trim() == "" || $("#pass")[0].value.trim() == "") {
                toastr["warning"]("Enter Email Address and Password!")
            }
            else {
                disableLoginBtn();

                var credential = {
                    loginEmail: $("#email")[0].value,
                    password: $("#pass")[0].value
                }

                $.ajax({
                    type: 'POST',
                    url: apiUrl + "api/authentication/SigninUser/",
                    headers: {
                        "content-type": "application/json",
                        "cache-control": "no-cache",
                    },
                    dataType: "json",
                    data: JSON.stringify(credential),
                    success: function (result) {
                        if (result.statusCode == "201") {
                            setSessionCookie(result.response);
                        }
                        else {
                            toastr["error"](result.statusDescription)
                            enableLoginBtn();
                        }
                    }
                });
            }
        }

        function setSessionCookie(session) {
            localStorage.setItem('navigation', JSON.stringify(session.moduleHierarchy));
            localStorage.setItem('accessibleUrlList', JSON.stringify(accessibleUrlList(session.moduleHierarchy)));

            localStorage.setItem('firstName', session.user.firstName);
            localStorage.setItem('lastName', session.user.lastName);
            localStorage.setItem("userImage", session.user.userImage);

            $.cookie("sessionToken", session.sessionToken);
            $.cookie("userId", session.user.id);
            $.cookie("loginEmail", session.user.loginEmail);
            $.cookie("role", session.user.roleName);

            $.cookie("idleLogoutTime", session.idleLogoutTime);

            window.location.href = window.location.origin + '/Modules/Dashboard';
        }

        function accessibleUrlList(modules) {
            var urlList = [];
            $.each(modules, function (i, e) {
                if (e.url != null && e.url.trim() != "") {
                    urlList.push(e.url);
                }
                $.each(e.children, function (ci, ce) {
                    if (ce.url != null && ce.url.trim != "") {
                        urlList.push(ce.url);
                    }
                })
            })
            return urlList;
        }

        function enableLoginBtn() {
            $("#signin-btn").attr("disabled", false);
            $("#signin-btn").html("Sign in");
        }

        function disableLoginBtn() {
            $("#signin-btn").attr("disabled", true);
            $("#signin-btn").html("Please wait...");
        }

        function enableRsestPasswordBtn() {
            $("#reset-password-btn").attr("disabled", false);
            $("#reset-password-btn").html("Reset password");
        }

        function disableRsestPasswordBtn() {
            $("#reset-password-btn").attr("disabled", true);
            $("#reset-password-btn").html("Please wait...");
        }


        function getPassword() {
            event.preventDefault();
            if ($("#forgot-email")[0].value.trim() == "") {
                toastr["warning"]("Enter Email Address to get password!")
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: apiUrl + "api/authentication/ForgotPassword/",
                    headers: {
                        "content-type": "application/json",
                        "cache-control": "no-cache",
                    },
                    dataType: "json",
                    data: JSON.stringify({ loginEmail: $("#forgot-email")[0].value }),
                    success: function (result) {
                        enableRsestPasswordBtn();
                        if (result.statusCode == "201") {
                            toastr["success"](result.statusDescription)
                            showLogin();
                        }
                        else {
                            toastr["error"](result.statusDescription)
                        }
                    }
                });
            }
        }

        function confirmResetPassword() {
            if (validateForm('reset-password-div')) {
                if ($("#new-pass")[0].value.trim() != $("#confirm-pass")[0].value.trim()) {
                    toastr["warning"]("New password and confirmation password does not match!")
                }
                else if ($("#new-pass")[0].value.trim() == $("#current-pass")[0].value.trim()) {
                    toastr["warning"]("Current password and new password should not be same!")
                }
                else {
                    disableRsestPasswordBtn();
                    var resetPassword = {
                        loginEmail: $("#reset-email")[0].value.trim(),
                        currentPassword: $("#current-pass")[0].value.trim(),
                        newPassword: $("#new-pass")[0].value.trim(),
                        confirmPassword: $("#confirm-pass")[0].value.trim()
                    }
                    $.ajax({
                        type: 'POST',
                        url: apiUrl + "api/authentication/ResetPassword/",
                        headers: {
                            "content-type": "application/json",
                            "cache-control": "no-cache",
                        },
                        dataType: "json",
                        data: JSON.stringify(resetPassword),
                        success: function (result) {
                            enableRsestPasswordBtn();
                            if (result.statusCode == "201") {
                                toastr["success"]("Your password has been reset!")
                                showLogin();
                            }
                            else {
                                toastr["error"](result.statusDescription)
                            }
                        }
                    });
                }
            }
        }


        $('.password-eye').on('mousedown', function (e) {
            showPassword(e);
        })
        $('.password-eye').on('mouseup', function (e) {
            hidePassword(e);
        })

        function showPassword(e) {
            try {
                var controlId = e.target.parentElement.attributes['control-for'].value;
                $('#' + controlId).attr('type', 'text')
            } catch (e) {

            }
        }
        function hidePassword(e) {
            try {
                var controlId = e.target.parentElement.attributes['control-for'].value;
                $('#' + controlId).attr('type', 'password')
            } catch (e) {

            }
        }

    </script>
</body>

</html>