﻿@page
@model MerricartPresentation.Pages.UnderConstructionModel
@{
}
@{
    ViewData["Title"] = "Dashboard";
}
<div class="header-body">
    <div class="row align-items-center">
        <div class="col">

            <!-- Pretitle
            <h6 class="header-pretitle">
              Overview
            </h6>-->
            <!-- Title -->
            <h1 class="header-title display-4  text-center mt-20">
                Under Construction
            </h1>

        </div>

    </div> <!-- / .row -->

</div>
