﻿@page
@model MerricartPresentation.InvoiceModel
@{
    ViewData["Title"] = "Invoices";
}


@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dollar"></i> Sales</a></li>
        <li class="active">Invoices</li>
    </ol>
}

<!-- Header -->
<div class="header-body">
    <div class="row align-items-center">
        <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
                Overview
            </h6>

            <!-- Title -->
            <h1 class="header-title">
                Invoices
            </h1>

        </div>
        <div class="col-auto">

            <!-- Button -->
            <a href="#" class="btn btn-primary lift">
                New Invoice
            </a>

        </div>
    </div> <!-- / .row -->
    <div class="row align-items-center">
        <div class="col">

            <!-- Nav -->
            <ul class="nav nav-tabs nav-overflow header-tabs">
                <li class="nav-item">
                    <a href="#!" class="nav-link active">
                        All <span class="badge badge-pill badge-soft-secondary">823</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        Pending <span class="badge badge-pill badge-soft-secondary">24</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        Processing <span class="badge badge-pill badge-soft-secondary">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link">
                        Refunded <span class="badge badge-pill badge-soft-secondary">71</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

<!-- Card -->
<div class="card" data-toggle="lists"
     data-options='{"valueNames": ["Invoices-Invoice", "Invoices-product", "Invoices-date", "Invoices-total", "Invoices-status", "Invoices-method"]}'>
    <div class="card-header">

        <!-- Search -->
        <form>
            <div class="input-group input-group-flush">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fe fe-search"></i>
                    </span>
                </div>
                <input class="form-control search" type="search" placeholder="Search">
            </div>
        </form>

        <!-- Dropdown -->
        <div class="dropdown">
            <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bulk Action
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
                <a class="dropdown-item" href="#!">Cancel</a>
                <a class="dropdown-item" href="#!">Hold</a>
                <a class="dropdown-item" href="#!">Unhold</a>
                <a class="dropdown-item" href="#!">Print Invoices</a>
                <a class="dropdown-item" href="#!">Print Packing Slips</a>
                <a class="dropdown-item" href="#!">Print Credit Memos</a>
                <a class="dropdown-item" href="#!">Print All</a>
                <a class="dropdown-item" href="#!">Print Shipping Labels</a>
                <a class="dropdown-item" href="#!">Batch Process</a>

            </div>
        </div>
        <!-- Dropdown -->
        <div class="dropdown">
            <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
                <a class="dropdown-item" href="#!">CSV</a>
                <a class="dropdown-item" href="#!">Excel</a>
            </div>
        </div>
        <button class="btn btn-sm btn-white" type="button" id="bulkActionDropdown" onclick="$('#fillterblock').toggle();">
            <i class="fas fa-filter"></i>
        </button>
    </div>
    <div class="card-body bg-light" style="display: none" id="fillterblock">
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Invoices from</label>
                    <input type="text" class="form-control flatpickr-input active" data-toggle="flatpickr"
                           readonly="readonly">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Invoices to</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputAddress">ID</label>
                    <input type="number" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputState">Status</label>
                    <select id="inputState" class="form-control" data-toggle="select">
                        <option value=""> </option>
                        <option data-title="Canceled" value="canceled">Canceled</option>
                        <option data-title="Closed" value="closed">Closed</option>
                        <option data-title="Complete" value="complete">Complete</option>
                        <option data-title="Suspected Fraud" value="fraud">Suspected Fraud</option>
                        <option data-title="On Hold" value="holded">On Hold</option>
                        <option data-title="Payment Review" value="payment_review">Payment Review</option>

                        <option data-title="Pending" value="pending">Pending</option>
                        <option data-title="Pending Payment" value="pending_payment">Pending Payment</option>
                        <option data-title="Processing" value="processing">Processing</option>
                        <option data-title="Shipped Complete - Store 32" value="shipped_complete_store_1">Shipped Complete</option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-3">
                    <label for="inputAddress2">Bill-to Name</label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputAddress2">Ship-to Name</label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Apartment, studio, or floor">
                </div>

            </div>

            <button type="submit" class="btn btn-primary float-right">Apply</button>
            <button type="submit" class="btn float-right">Close</button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-nowrap card-table">
            <thead>
                <tr>
                    <th>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectAll">
                            <label class="custom-control-label" for="InvoicesSelectAll">&nbsp;</label>
                        </div>

                    </th>
                    <th>
                        <a href="#" class="text-muted sort" data-sort="Invoices-Invoice">
                            Invoice
                        </a>
                    </th>
                    <th>
                        <a href="#" class="text-muted sort" data-sort="Invoices-product">
                            Product
                        </a>
                    </th>
                    <th>
                        <a href="#" class="text-muted sort" data-sort="Invoices-date">
                            Date
                        </a>
                    </th>
                    <th>
                        <a href="#" class="text-muted sort" data-sort="Invoices-total">
                            Total
                        </a>
                    </th>
                    <th>
                        <a href="#" class="text-muted sort" data-sort="Invoices-status">
                            Status
                        </a>
                    </th>
                    <th colspan="2">
                        <a href="#" class="text-muted sort" data-sort="Invoices-method">
                            Payment method
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="list">
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6520
                    </td>
                    <td class="Invoices-product">
                        5' x 3' Wall Poster
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-30">07/30/18</time>

                    </td>
                    <td class="Invoices-total">
                        $55.25
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-success">
                            Shipped
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Mastercard
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6521
                    </td>
                    <td class="Invoices-product">
                        XL Logo Tee
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-30">07/30/18</time>

                    </td>
                    <td class="Invoices-total">
                        $14.99
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-success">
                            Shipped
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Paypal
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6522
                    </td>
                    <td class="Invoices-product">
                        Flexfit Hat
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-28">07/28/18</time>

                    </td>
                    <td class="Invoices-total">
                        $25.50
                    </td>
                    <td class="Invoices-sratus">

                        <!-- Badge -->
                        <div class="badge badge-soft-warning">
                            Processing
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Visa
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6523
                    </td>
                    <td class="Invoices-product">
                        Reversible Hoodie
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-27">07/27/18</time>

                    </td>
                    <td class="Invoices-total">
                        $64.99
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-danger">
                            Cancelled
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Amex
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6524
                    </td>
                    <td class="Invoices-product">
                        Geometric Print Shorts
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-25">07/25/18</time>

                    </td>
                    <td class="Invoices-total">
                        $31.99
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-success">
                            Shipped
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Paypal
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6525
                    </td>
                    <td class="Invoices-product">
                        Super Mug
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-22">07/22/18</time>

                    </td>
                    <td class="Invoices-total">
                        $9.99
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-success">
                            Shipped
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Mastercard
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6526
                    </td>
                    <td class="Invoices-product">
                        MD Pocket Tee
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-22">07/22/18</time>

                    </td>
                    <td class="Invoices-total">
                        $19.99
                    </td>
                    <td class="Invoices-status">

                        <!-- Badge -->
                        <div class="badge badge-soft-warning">
                            Processing
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Amex
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox table-checkbox">
                            <input type="checkbox" class="custom-control-input" name="InvoicesSelect" id="InvoicesSelectOne">
                            <label class="custom-control-label" for="InvoicesSelectOne">&nbsp;</label>
                        </div>

                    </td>
                    <td class="Invoices-Invoice">
                        #6527
                    </td>
                    <td class="Invoices-product">
                        Custom Coffee Blend
                    </td>
                    <td class="Invoices-date">

                        <!-- Time -->
                        <time datetime="2018-07-21">07/21/18</time>

                    </td>
                    <td class="Invoices-total">
                        $11.99
                    </td>
                    <td class="Invoices-sratus">

                        <!-- Badge -->
                        <div class="badge badge-soft-success">
                            Shipped
                        </div>

                    </td>
                    <td class="Invoices-method">
                        Visa
                    </td>
                    <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">
                                    Action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Another action
                                </a>
                                <a href="#!" class="dropdown-item">
                                    Something else here
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />

    <div class="d-flex justify-content-between ml-3 mr-3">

        <div class="p-2">823 records found</div>
        <div>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

