﻿@page
@{
    ViewData["Title"] = "Tax Rates";
}


<div class="row">
    <div class="col-12">
        <div id="user-list-card" class="card">
            <div class="card-header">
                <h3 class="card-header-title">Tax Rates</h3>
                <div class="pull-right">
                    <button style="float:right;" class="btn lift btn-primary" onclick="addNewCoutry()"><span>Add Country  </span><i class="fe fe-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
</div>

