﻿<!--<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/plugins/cropperjs/css/cropper.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.cookie.js"></script>
<script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/plugins/cropperjs/js/cropper.js"></script>-->
<!-- Header -->
<!-- Content -->
<div id="crop-container">
    <div class="row">
        <div class="col-md-9">
            <div class="img-container">
                <img src="" alt="Select image">
            </div>
        </div>
        <div class="col-md-3">
            <h3>Preview</h3>
            <div class="docs-preview clearfix">
                <div class="img-preview preview-lg"></div>
                <div class="img-preview preview-md"></div>
                <div class="img-preview preview-sm"></div>
                <div class="img-preview preview-xs"></div>
            </div>

            <!-- <h3>Data:</h3> -->
            <div class="docs-data" style="display:none;">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataX">X</label>
                    <input type="text" class="form-control" id="dataX" placeholder="x">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataY">Y</label>
                    <input type="text" class="form-control" id="dataY" placeholder="y">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataWidth">Width</label>
                    <input type="text" class="form-control" id="dataWidth" placeholder="width">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataHeight">Height</label>
                    <input type="text" class="form-control" id="dataHeight" placeholder="height">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataRotate">Rotate</label>
                    <input type="text" class="form-control" id="dataRotate" placeholder="rotate">
                    <span class="input-group-addon">deg</span>
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataScaleX">ScaleX</label>
                    <input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="dataScaleY">ScaleY</label>
                    <input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="actions">
        <div class="col-md-9 docs-buttons crop-custom-controls">
            <!-- <h3>Toolbar:</h3> -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Enable drag image">
                        <span class="fe fe-move"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Enable only crop">
                        <span class="fe fe-crop"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Zoom In">
                        <span class="fe fe-zoom-in"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Zoom Out">
                        <span class="fe fe-zoom-out"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Move Left">
                        <span class="fe fe-arrow-left"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Move Right">
                        <span class="fe fe-arrow-right"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Move Up">
                        <span class="fe fe-arrow-up"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Move Down">
                        <span class="fe fe-arrow-down"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Rotate Left">
                        <span class="fe fe-rotate-ccw"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Rotate Right">
                        <span class="fe fe-rotate-cw"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Flip Horizontal">
                        <span class="fe fe-more-horizontal"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Flip Vertical">
                        <span class="fe fe-more-vertical"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Crop">
                        <span class="fe fe-check"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Clear">
                        <span class="fe fe-refresh-cw"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Lock">
                        <span class="fe fe-lock"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Unlock">
                        <span class="fe fe-unlock"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Reset">
                        <span class="fe fe-repeat"></span>
                    </span>
                </button>
                <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                    <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                    <span class="docs-tooltip" data-toggle="tooltip" title="Choose file">
                        <span class="fe fe-upload"></span><span>Choose file</span>
                    </span>
                </label>
                <button type="button" class="btn btn-primary" data-method="destroy" title="Destroy" style="display:none;">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.destroy()">
                        <span class="fe fe-power-off"></span>
                    </span>
                </button>
            </div>

            <div class="btn-group btn-group-crop" id="cropped-preview-btn-grp">
                <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View cropped image">
                        Preview selection
                    </span>
                </button>
                <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View size of 160 x 90">
                        160&times;90
                    </span>
                </button>
                <button type="button" class="btn btn-success" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 320, &quot;height&quot;: 180 }">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View size of 320 x 180">
                        320&times;180
                    </span>
                </button>
            </div>

            <div class="btn-group btn-group-crop">
                <button type="button" class="btn btn-success" data-method="saveCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }>
                    <span class="docs-tooltip" data-toggle="tooltip" title="upload cropped image">
                        Apply & Save
                    </span>
                </button>
            </div>

            <!-- Show the cropped image in modal -->
            <div class="modal fade docs-cropped" id="getCroppedCanvasModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="getCroppedCanvasTitle">Preview</h3>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="$('#getCroppedCanvasModal').modal('hide')">Close</button>
                            <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg">Download</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->

            <div style="display:none;">

                <button type="button" class="btn btn-secondary" data-method="getData" data-option data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getData()">
                        Get Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="setData" data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setData(data)">
                        Set Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="getContainerData" data-option data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getContainerData()">
                        Get Container Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="getImageData" data-option data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getImageData()">
                        Get Image Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="getCanvasData" data-option data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCanvasData()">
                        Get Canvas Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="setCanvasData" data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setCanvasData(data)">
                        Set Canvas Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="getCropBoxData" data-option data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.getCropBoxData()">
                        Get Crop Box Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="setCropBoxData" data-target="#putData">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.setCropBoxData(data)">
                        Set Crop Box Data
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="moveTo" data-option="0">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.moveTo(0)">
                        Move to [0,0]
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="zoomTo" data-option="1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.zoomTo(1)">
                        Zoom to 100%
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="rotateTo" data-option="180">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.rotateTo(180)">
                        Rotate 180°
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-method="scale" data-option="-2" data-second-option="-1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="cropper.scale(-2, -1)">
                        Scale (-2, -1)
                    </span>
                </button>
                <textarea class="form-control" id="putData" rows="1" placeholder="Get data to here or set data with this value"></textarea>

            </div>
        </div><!-- /.docs-buttons -->

        <div class="col-md-3 docs-toggles crop-custom-controls">
            <!-- <h3>Toggles:</h3> -->
            <div class="btn-group d-flex flex-nowrap" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" class="sr-only" id="aspectRatio1" name="aspectRatio" value="1.7777777777777777">
                    <span class="docs-tooltip" data-toggle="tooltip">
                        16:9
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="aspectRatio2" name="aspectRatio" value="1.3333333333333333">
                    <span class="docs-tooltip" data-toggle="tooltip">
                        4:3
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="aspectRatio3" name="aspectRatio" value="1">
                    <span class="docs-tooltip" data-toggle="tooltip">
                        1:1
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="aspectRatio4" name="aspectRatio" value="0.6666666666666666">
                    <span class="docs-tooltip" data-toggle="tooltip">
                        2:3
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="aspectRatio5" name="aspectRatio" value="NaN">
                    <span class="docs-tooltip" data-toggle="tooltip">
                        Free
                    </span>
                </label>
            </div>

            <div class="btn-group d-flex flex-nowrap" data-toggle="buttons" style="display:none !important;">
                <label class="btn btn-primary active">
                    <input type="radio" class="sr-only" id="viewMode0" name="viewMode" value="0" checked>
                    <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 0">
                        VM0
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="viewMode1" name="viewMode" value="1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 1">
                        VM1
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="viewMode2" name="viewMode" value="2">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 2">
                        VM2
                    </span>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" class="sr-only" id="viewMode3" name="viewMode" value="3">
                    <span class="docs-tooltip" data-toggle="tooltip" title="View Mode 3">
                        VM3
                    </span>
                </label>
            </div>

            <div class="dropdown dropup docs-options" style="display:none">
                <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" aria-expanded="true">
                    Toggle Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="toggleOptions">
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="responsive" checked>
                            responsive
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="restore" checked>
                            restore
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="checkCrossOrigin" checked>
                            checkCrossOrigin
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="checkOrientation" checked>
                            checkOrientation
                        </label>
                    </li>

                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="modal" checked>
                            modal
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="guides" checked>
                            guides
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="center" checked>
                            center
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="highlight" checked>
                            highlight
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="background" checked>
                            background
                        </label>
                    </li>

                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="autoCrop" checked>
                            autoCrop
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="movable" checked>
                            movable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="rotatable" checked>
                            rotatable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="scalable" checked>
                            scalable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="zoomable" checked>
                            zoomable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="zoomOnTouch" checked>
                            zoomOnTouch
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="zoomOnWheel" checked>
                            zoomOnWheel
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="cropBoxMovable" checked>
                            cropBoxMovable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="cropBoxResizable" checked>
                            cropBoxResizable
                        </label>
                    </li>
                    <li class="dropdown-item">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="toggleDragModeOnDblclick" checked>
                            toggleDragModeOnDblclick
                        </label>
                    </li>
                </ul>
            </div><!-- /.dropdown -->

        </div><!-- /.docs-toggles -->
    </div>
</div>

<script>


    //window.onload = function () {

    //'use strict';


    var Cropper = window.Cropper;
    var URL = window.URL || window.webkitURL;
    var container = document.querySelector('.img-container');
    var image = container.getElementsByTagName('img').item(0);
    var download = document.getElementById('download');
    var actions = document.getElementById('actions');
    var dataX = document.getElementById('dataX');
    var dataY = document.getElementById('dataY');
    var dataHeight = document.getElementById('dataHeight');
    var dataWidth = document.getElementById('dataWidth');
    var dataRotate = document.getElementById('dataRotate');
    var dataScaleX = document.getElementById('dataScaleX');
    var dataScaleY = document.getElementById('dataScaleY');
    var options = {
        aspectRatio: 321 / 180,
        preview: '.img-preview',
        ready: function (e) {
            //console.log(e.type);
        },
        cropstart: function (e) {
            //console.log(e.type, e.detail.action);
        },
        cropmove: function (e) {
            //console.log(e.type, e.detail.action);
        },
        cropend: function (e) {
            //console.log(e.type, e.detail.action);
        },
        crop: function (e) {
            var data = e.detail;

            //console.log(e.type);
            dataX.value = Math.round(data.x);
            dataY.value = Math.round(data.y);
            dataHeight.value = Math.round(data.height);
            dataWidth.value = Math.round(data.width);
            dataRotate.value = typeof data.rotate !== 'undefined' ? data.rotate : '';
            dataScaleX.value = typeof data.scaleX !== 'undefined' ? data.scaleX : '';
            dataScaleY.value = typeof data.scaleY !== 'undefined' ? data.scaleY : '';

            if (uploadImageType == 'user') {
                $('.img-preview').css('border-radius', '50%');
                $('.cropper-view-box').css('border-radius', '50%');
            }

        },
        zoom: function (e) {
            //console.log(e.type, e.detail.ratio);
        }
    };
    var cropper = new Cropper(image, options);
    var originalImageURL = image.src;
    var uploadedImageType = 'image/jpeg';
    var uploadedImageURL;

    // Tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Buttons
    if (!document.createElement('canvas').getContext) {
        $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
    }

    if (typeof document.createElement('cropper').style.transition === 'undefined') {
        $('button[data-method="rotate"]').prop('disabled', true);
        $('button[data-method="scale"]').prop('disabled', true);
    }

    // Download
    if (typeof download.download === 'undefined') {
        download.className += ' disabled';
    }

    // Options
    actions.querySelector('.docs-toggles').onchange = function (event) {
        var e = event || window.event;
        var target = e.target || e.srcElement;
        var cropBoxData;
        var canvasData;
        var isCheckbox;
        var isRadio;

        if (!cropper) {
            return;
        }

        if (target.tagName.toLowerCase() === 'label') {
            target = target.querySelector('input');
        }

        isCheckbox = target.type === 'checkbox';
        isRadio = target.type === 'radio';

        if (isCheckbox || isRadio) {
            if (isCheckbox) {
                options[target.name] = target.checked;
                cropBoxData = cropper.getCropBoxData();
                canvasData = cropper.getCanvasData();

                options.ready = function () {
                    //console.log('ready');
                    cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                };
            } else {
                options[target.name] = target.value;
                options.ready = function () {
                    //console.log('ready');
                };
            }

            // Restart
            cropper.destroy();
            cropper = new Cropper(image, options);
        }
    };

    // Methods
    actions.querySelector('.docs-buttons').onclick = function (event) {
        var e = event || window.event;
        var target = e.target || e.srcElement;
        var cropped;
        var result;
        var input;
        var data;

        if (!cropper) {
            return;
        }

        while (target !== this) {
            if (target.getAttribute('data-method')) {
                break;
            }

            target = target.parentNode;
        }

        if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
            return;
        }

        data = {
            method: target.getAttribute('data-method'),
            target: target.getAttribute('data-target'),
            option: target.getAttribute('data-option') || undefined,
            secondOption: target.getAttribute('data-second-option') || undefined
        };

        cropped = cropper.cropped;

        if (data.method) {
            if (typeof data.target !== 'undefined') {
                input = document.querySelector(data.target);

                if (!target.hasAttribute('data-option') && data.target && input) {
                    try {
                        data.option = JSON.parse(input.value);
                    } catch (e) {
                        //console.log(e.message);
                    }
                }
            }

            switch (data.method) {
                case 'rotate':
                    if (cropped) {
                        cropper.clear();
                    }

                    break;

                case 'saveCroppedCanvas':

                    try {
                        data.option = JSON.parse(data.option);
                    } catch (e) { }

                    if (uploadedImageType === 'image/jpeg') {
                        if (!data.option) {
                            data.option = {};
                        }

                        data.option.fillColor = '#fff';
                    }

                    break;
                case 'getCroppedCanvas':
                    try {
                        data.option = JSON.parse(data.option);
                    } catch (e) {
                        //console.log(e.message);
                    }

                    if (uploadedImageType === 'image/jpeg') {
                        if (!data.option) {
                            data.option = {};
                        }

                        data.option.fillColor = '#fff';
                    }

                    break;
            }
            var dataMethod = data.method == 'saveCroppedCanvas' ? 'getCroppedCanvas' : data.method;
            result = cropper[dataMethod](data.option, data.secondOption);

            switch (data.method) {
                case 'rotate':
                    if (cropped) {
                        cropper.crop();
                    }

                    break;

                case 'scaleX':
                case 'scaleY':
                    target.setAttribute('data-option', -data.option);
                    break;

                case 'saveCroppedCanvas':

                    if (result) {
                        var croppedImageDataUrl = result.toDataURL(uploadedImageType);
                        saveCroppedImage(croppedImageDataUrl);
                    }

                    break;

                case 'getCroppedCanvas':
                    if (result) {
                        // Bootstrap's Modal
                        $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

                        if (!download.disabled) {
                            download.href = result.toDataURL(uploadedImageType);
                        }
                    }

                    break;

                case 'destroy':
                    cropper = null;

                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                        uploadedImageURL = '';
                        image.src = originalImageURL;
                    }

                    break;
            }

            if (typeof result === 'object' && result !== cropper && input) {
                try {
                    input.value = JSON.stringify(result);
                } catch (e) {
                    //console.log(e.message);
                }
            }
        }
    };

    document.body.onkeydown = function (event) {
        var e = event || window.event;

        if (!cropper || this.scrollTop > 300) {
            return;
        }

        switch (e.keyCode) {
            case 37:
                e.preventDefault();
                cropper.move(-1, 0);
                break;

            case 38:
                e.preventDefault();
                cropper.move(0, -1);
                break;

            case 39:
                e.preventDefault();
                cropper.move(1, 0);
                break;

            case 40:
                e.preventDefault();
                cropper.move(0, 1);
                break;
        }
    };

    // Import image
    var inputImage = document.getElementById('inputImage');

    if (URL) {
        inputImage.onchange = function () {
            $('#image-cropper-modal').modal('show');
            var files = this.files;
            var file;

            if (cropper && files && files.length) {
                file = files[0];
                if (/^image\/\w+/.test(file.type)) {
                    uploadedImageType = file.type;

                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                    }

                    image.src = uploadedImageURL = URL.createObjectURL(file);
                    cropper.destroy();
                    cropper = new Cropper(image, options);
                    inputImage.value = null;

                } else {
                    window.alert('Please choose an image file.');
                }
            }
        };
    } else {
        inputImage.disabled = true;
        inputImage.parentNode.className += ' disabled';
    }

    var uploadImageType = "";
    function saveCroppedImage(dataUrl) {

        if (uploadImageType == 'user') {
            uploadImage(dataUrl);
        }
        else {

            if (uploadImageType == 'category') {
                categoryOnAction.imageDataUrl = dataUrl;
                $("#img-category-preview").attr('src', categoryOnAction.imageDataUrl);
            }
            else if (uploadImageType == 'product') {
                drawProductImage(dataUrl, true);
            }
            destroyImageCropper();
        }
    }


    function uploadImage(dataUrl) {
        waitMe_show('#image-cropper-modal');

        $.ajax({
            url: apiUrl + "api/FileHandler/UploadDataUrlAsImage",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify({ dataUrl: dataUrl, uploadImageType: uploadImageType }),
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (data) {
                waitMe_hide('#image-cropper-modal');
                if (data.statusCode == '201') {
                    if (uploadImageType == "user") {
                        setUserImage(data.response);
                    }
                    uploadImageType = "";
                    toastr["success"]("Uploaded successfully!")
                    destroyImageCropper();
                }
                else {
                    toastr["error"]("Fail to uploaded!")
                }
            },
            error: function () {
                toastr["error"]("Fail to uploaded!")
                waitMe_hide('#image-cropper-modal');
            }
        });
    }

</script>
<style>
    .btn {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    label.btn {
        margin-bottom: 0;
    }

    .d-flex > .btn {
        flex: 1;
    }

    .carbonads {
        border-radius: .25rem;
        border: 1px solid #ccc;
        font-size: .875rem;
        overflow: hidden;
        padding: 1rem;
    }

    .carbon-wrap {
        overflow: hidden;
    }

    .carbon-img {
        clear: left;
        display: block;
        float: left;
    }

    .carbon-text,
    .carbon-poweredby {
        display: block;
        margin-left: 140px;
    }

        .carbon-text,
        .carbon-text:hover,
        .carbon-text:focus {
            color: #fff;
            text-decoration: none;
        }

        .carbon-poweredby,
        .carbon-poweredby:hover,
        .carbon-poweredby:focus {
            color: #ddd;
            text-decoration: none;
        }

    @media (min-width: 768px) {
        .carbonads {
            float: right;
            margin-bottom: -1rem;
            margin-top: -1rem;
            max-width: 360px;
        }
    }



    .footer {
        font-size: .875rem;
    }

    .heart {
        color: #ddd;
        display: block;
        height: 2rem;
        line-height: 2rem;
        margin-bottom: 0;
        margin-top: 1rem;
        position: relative;
        text-align: center;
        width: 100%;
    }

        .heart:hover {
            color: #ff4136;
        }

        .heart::before {
            border-top: 1px solid #eee;
            content: " ";
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
        }

        .heart::after {
            background-color: #fff;
            content: "♥";
            padding-left: .5rem;
            padding-right: .5rem;
            position: relative;
            z-index: 1;
        }

    .img-container,
    .img-preview {
        background-color: #f7f7f7;
        text-align: center;
        width: 100%;
    }

    .img-container {
        margin-bottom: 1rem;
        max-height: 497px;
        min-height: 200px;
    }

    @media (min-width: 768px) {
        .img-container {
            min-height: 497px;
        }
    }



    .img-container > img {
        max-width: 100%;
    }

    .docs-preview {
        margin-right: -1rem;
    }

    .img-preview {
        float: left;
        margin-bottom: .5rem;
        margin-right: .5rem;
        overflow: hidden;
    }

        .img-preview > img {
            max-width: 100%;
        }

    .preview-lg {
        height: 9rem;
        width: 16rem;
    }

    .preview-md {
        height: 4.5rem;
        width: 8rem;
    }

    .preview-sm {
        height: 2.25rem;
        width: 4rem;
    }

    .preview-xs {
        height: 1.125rem;
        margin-right: 0;
        width: 2rem;
    }

    .docs-data > .input-group {
        margin-bottom: .5rem;
    }

        .docs-data > .input-group > label {
            justify-content: center;
            min-width: 5rem;
        }

        .docs-data > .input-group > span {
            justify-content: center;
            min-width: 3rem;
        }

    .docs-buttons > .btn,
    .docs-buttons > .btn-group,
    .docs-buttons > .form-control {
        margin-bottom: .5rem;
        margin-right: .25rem;
    }

    .docs-toggles > .btn,
    .docs-toggles > .btn-group,
    .docs-toggles > .dropdown {
        margin-bottom: .5rem;
    }

    .docs-tooltip {
        display: block;
        margin: -.5rem -.75rem;
        padding: .5rem .75rem;
    }

        .docs-tooltip > .icon {
            margin: 0 -.25rem;
            vertical-align: top;
        }

    .tooltip-inner {
        white-space: normal;
    }

    .btn-upload .tooltip-inner,
    .btn-toggle .tooltip-inner {
        white-space: nowrap;
    }

    .btn-toggle {
        padding: .5rem;
    }

        .btn-toggle > .docs-tooltip {
            margin: -.5rem;
            padding: .5rem;
        }

    @media (max-width: 400px) {
        .btn-group-crop {
            margin-right: -1rem !important;
        }

            .btn-group-crop > .btn {
                padding-left: .5rem;
                padding-right: .5rem;
            }

            .btn-group-crop .docs-tooltip {
                margin-left: -.5rem;
                margin-right: -.5rem;
                padding-left: .5rem;
                padding-right: .5rem;
            }
    }



    .docs-options .dropdown-menu {
        width: 100%;
    }

        .docs-options .dropdown-menu > li {
            font-size: .875rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

            .docs-options .dropdown-menu > li:hover {
                background-color: #f7f7f7;
            }

            .docs-options .dropdown-menu > li > label {
                display: block;
            }

    .docs-cropped .modal-body {
        text-align: center;
    }

        .docs-cropped .modal-body > img,
        .docs-cropped .modal-body > canvas {
            max-width: 100%;
        }

    /*.cropper-container.cropper-bg {
        width: 100% !important;
        height: 100% !important;
    }*/
</style>
