﻿@page
@model MerricartPresentation.CategoriesModel
@{
    ViewData["Title"] = "";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fe fe-cogs"></i> Catalog</a></li>
        <li class="active">Categories</li>
    </ol>
}


<div class="row">
    <div class="col-12">
        <div id="category-list-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title">Categories List</h3>
                <div class="card-tools pull-right">
                    <button style="float:right;" class="btn lift btn-primary" data-toggle="tooltip" title="Add new category" onclick="addRootCategory()"><span>Add category</span><i class="fe fe-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="category-list">
                </div>
            </div>
            <div class="card-footer">
                <div style="float:right;">
                    <button class="btn lift btn-primary" onclick="confirmActiveCategoryUpdate()">Save changes</button>
                </div>
            </div>
        </div>
        <div id="add-category-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title" id="add-edit-category"></h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Close" onclick="cancelCategory()"><i class="fe fe-x"></i></button>
                </div><!-- /.card-tools -->
            </div><!-- /.card-header -->
            <div class="card-body">
                <div style="float:left;width:95%;">
                    <div style="width:60%;float:left;">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">
                                Category Name
                                <span class="mandatory-indication">
                                    <label class="mandatory-indication-symbol">*</label>
                                </span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="category-name" placeholder="Category Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">IsActive</label>
                            <div class="col-sm-7 ckbx-style-13">
                                <input type="checkbox" class="form-check-input" id="isactive-category">
                                <label for="isactive-category"></label>
                            </div>
                        </div>
                    </div>
                    <div style="float:right;width:20%;margin-right:15%;" class="img-preview-container inputImage" onclick="initializeImageCropper('category')" id="user-img-div">
                        <img src="https://merricart-dev.s3.ap-south-1.amazonaws.com/categories/no-image.jpg" id="img-category-preview" class="img-square">
                        <div class="middle">
                            <div><i class="fe fe-camera" style="font-size:xx-large;" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>

                <div style="float:left;clear:left;width:95%;">
                    <div class="card-header ">
                        <h4 class="card-header-title"> Selected attributes</h4>
                    </div>
                    <div class="card-body attribute-list" id="attribute-list-body">
                        <div id="attribute-list-body-left" style="float: left; width: 45%;"></div>
                        <div id="attribute-list-body-right" style="float: right; width: 45%;"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelCategory()">Cancel</button>
                    <button class="btn lift btn-primary edit-category-form" onclick="confirmEditCategory()">update</button>
                    <button class="btn lift btn-primary create-category-form" onclick="confirmCreateCategory()">Create</button>
                </div>
            </div>
        </div><!-- /.card -->
    </div>
</div>

<script type="text/javascript">

    var categoryOnAction = null;

    initializePage();

    function initializePage() {

        showCategoryList();
        getCategories();
    }

    function getCategories() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/category/GetAllCategoriesInHierarchy",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                drawCategoryTreeView(result.response);
                setTimeout(function () {
                    applyManualTreeEventHandler();
                }, 1000)
            },
            error: function (error) {
            }
        });
    }

    function drawCategoryTreeView(categoryResult) {
        var tw = new TreeView(
            categoryResult,
            { showAlwaysCheckBox: true, fold: true, openAllFold: true });
        document.getElementById("category-list").appendChild(tw.root)
        $("#category-list").html(tw.root);

    }

    function clearCategoryForm() {

        $("#category-name")[0].value = "";
        $("#isactive-category")[0].checked = false;
    }

    function cancelCategory() {
        showCategoryList();

        $("#attribute-list-body-left").html();
        $("#attribute-list-body-right").html();

        clearCategoryForm();
        categoryOnAction = null;
    }

    function applyManualTreeEventHandler() {
        $(".tree-item-remove-btn").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            confirmDeleteCategory(event);
        });

        $(".tree-item-edit-btn").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            editCategory(event);
        });

        $(".tree-item-add-btn").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            addChildCategory(event);
        });
    }

    function addChildCategory(e) {
        categoryOnAction = { name: "", checked: true, parentId: e.target.parentNode["data"].id, attributeIds: "", imageDataUrl: "", categoryImage: "" };

        var boxHeader = "Add child category under  " + e.target.parentNode["data"].name;
        $("#add-edit-category").text(boxHeader);
        loadAddEditCategoryForm();

        $(".edit-category-form").hide();
        $(".create-category-form").show();
    }

    function addRootCategory() {
        categoryOnAction = { name: "", checked: true, parentId: 0, attributeIds: "", imageDataUrl: "", categoryImage: "" };

        var boxHeader = "Add root category";
        $("#add-edit-category").text(boxHeader);
        loadAddEditCategoryForm();

        $(".edit-category-form").hide();
        $(".create-category-form").show();
    }

    function editCategory(e) {
        categoryOnAction = e.target.parentNode["data"];

        categoryOnAction.imageDataUrl = "";

        var boxHeader = "Edit category : " + categoryOnAction.name;
        $("#add-edit-category").text(boxHeader);

        $(".edit-category-form").show();
        $(".create-category-form").hide();

        loadAddEditCategoryForm();
    }

    function loadAddEditCategoryForm() {

        getAllAttributes();

        $("#category-name")[0].value = categoryOnAction.name;
        $("#isactive-category")[0].checked = categoryOnAction.checked;
        var categoryPreview = "";
        if (categoryOnAction.categoryImage == null || categoryOnAction.categoryImage == "") {
            categoryPreview = appS3Url + "categories/no-image.jpg";
        }
        else {
            categoryPreview = appS3Url + "categories/" + categoryOnAction.categoryImage;
        }
        $("#img-category-preview").attr('src', categoryPreview)

        $("div#category-list-card").hide();
        $("div#add-category-card").show();
    }

    function confirmDeleteCategory(e) {
        categoryOnAction = e.target.parentNode["data"];

        bootbox.confirm({
            title: "Delete operation!",
            message: "Do you want to delete this category? This cannot be undone.",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { deleteCategory() };
            }
        });



    }

    function confirmEditCategory() {
        if (validateCategoryForm()) {
            bootbox.confirm({
                title: "Update category!",
                message: "Are you sure, do you want to update this category?",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { updateCategory() };
                }
            });
        }
    }

    function confirmCreateCategory() {
        if (validateCategoryForm()) {
            bootbox.confirm({
                title: "Create new category!",
                message: "Are you sure, do you want to create this category as New?",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { createCategory() };
                }
            });
        }
    }

    function confirmActiveCategoryUpdate() {

        bootbox.confirm({
            title: "Update active category!",
            message: "Are you sure, do you want to update active categories changes?",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { saveCategoryChanges() };
            }
        });
    }

    function createCategory() {
        categoryOnAction.name = $("#category-name")[0].value;
        categoryOnAction.isActive = $("#isactive-category")[0].checked;

        waitMe_show('#app-page-content');
        $.ajax({
            type: 'POST',
            url: apiUrl + "api/category/CreateNewCategory/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(getCategoryObject()),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    getCategories();
                    categoryOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    showCategoryList();
                    toastr["success"]("Category updated!")
                }
                else {
                    toastr["error"]("Failed to update category!")
                }
            }
        });
    }

    function updateCategory() {
        categoryOnAction.name = $("#category-name")[0].value;
        categoryOnAction.isActive = $("#isactive-category")[0].checked;

        waitMe_show('#app-page-content');
        $.ajax({
            type: 'POST',
            url: apiUrl + "api/category/UpdateCategory/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(getCategoryObject()),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    getCategories();
                    categoryOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    showCategoryList();
                    toastr["success"]("Category updated!")
                }
                else {
                    toastr["error"]("Failed to update category!")
                }
            }
        });
    }

    function deleteCategory() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/category/DeleteCategory/" + categoryOnAction.id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    getCategories();
                    categoryOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    toastr["success"]("Category deleted!")
                }
                else {
                    toastr["error"]("Failed to delete category!")
                }
            }
        });

    }

    function showCategoryList() {
        $("div#category-list-card").show();
        $("div#add-category-card").hide();

        $("#attribute-list-body-left").html();
        $("#attribute-list-body-right").html();
    }

    function getCategoryObject() {
        return {
            id: categoryOnAction.id,
            name: categoryOnAction.name,
            parentId: categoryOnAction.parentId,
            isActive: $("#isactive-category")[0].checked,
            attributeIds: getSelectedAttributeId().join(),
            imageDataUrl: categoryOnAction.imageDataUrl,
            categoryImage: categoryOnAction.categoryImage
        }
    }

    function getSelectedAttributeId() {
        var selectedAttributeIds = [];
        $.each($(".attribute-checkbox"), function (index, element) {
            if (element.checked == true) {
                selectedAttributeIds.push(element.value);
            }
        })
        return selectedAttributeIds;
    }

    function saveCategoryChanges() {
        var nonActiveCategories = [];
        $.each($(".fe-circle"), function (key, value) {
            nonActiveCategories.push(value.parentElement["data"].id);
        });
        updateActiveCategory(nonActiveCategories);
    }

    function updateActiveCategory(nonActiveCategories) {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'POST',
            url: apiUrl + "api/category/UpdateActiveCategory/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(nonActiveCategories),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    getCategories();
                    categoryOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    toastr["success"]("Category changes updated!")
                }
                else {
                    toastr["error"]("Failed to update category changes!")
                }
            }
        });
    }

    function drawAttributeList(attributeList) {

        $("#attribute-list-body-left").html();
        $("#attribute-list-body-right").html();

        var bodyLeftHtml = "";
        var bodyRightHtml = "";

        $.each(attributeList, function (index, element) {
            var htmlDom = "";
            htmlDom += '<div class="form-group row">';
            htmlDom += '<label class="col-sm-8 col-form-label">' + element.name + '</label>';
            htmlDom += '<div class="col-sm-4 ckbx-style-13">';
            htmlDom += '    <input type="checkbox" class="form-check-input attribute-checkbox" value="' + element.id + '" id="attr-value-' + element.id + '" />';
            htmlDom += '    <label for="attr-value-' + element.id + '"></label>';
            htmlDom += '</div>';
            htmlDom += '</div>';

            if (index % 2 == 0) {
                bodyLeftHtml += htmlDom;
            }
            else {
                bodyRightHtml += htmlDom;
            }
        });

        $("#attribute-list-body-left").html(bodyLeftHtml);
        $("#attribute-list-body-right").html(bodyRightHtml);
    }

    function applyAttributeSelection(selectedAttributeIds) {
        if (selectedAttributeIds != null && selectedAttributeIds.length > 0) {
            $.each(selectedAttributeIds, function (index, element) {
                if (element != null && element != undefined && element != "") {
                    var attrValueElement = $("#attr-value-" + element + "");
                    if (attrValueElement != null && attrValueElement.length > 0) {
                        attrValueElement[0].checked = true;
                    }
                }
            })
        }
    }

    function getAllAttributes() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/attribute/GetAllActiveAttributes",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                drawAttributeList(result.response);
                if (categoryOnAction.attributeIds == null) {
                    categoryOnAction.attributeIds = "";
                }
                applyAttributeSelection(categoryOnAction.attributeIds.split(','));
                waitMe_hide('#app-page-content');
            }
        });
    }

    function validateCategoryForm() {
        if ($("#category-name")[0].value.trim() == "") {
            toastr["warning"]("Please enter category name!")
            return false;
        }
        else {
            return true;
        }
    }


</script>

<style>
    #category-list {
        float: left;
        width: 60%;
    }
</style>
