﻿@page
@model MerricartPresentation.ProductsModel
@{
    ViewData["Title"] = "Products";
}


@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fe fe-catalog"></i> Catalog</a></li>
        <li class="active">Products</li>
    </ol>
}

<div class="row">
    <div class="col-12">
        <div id="product-table-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title">Product List</h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-primary" data-toggle="tooltip" title="Add new product" onclick="addNewProduct()"><span>Add product</span><i class="fe fe-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="product-list" class="table-responsive">
                    <table id="product-table" class="table table-sm table-nowrap card-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox table-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="productSelectionGroup" id="productSelectAll">
                                        <label class="custom-control-label" for="productSelectAll">&nbsp;</label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Actual price</th>
                                <th>Special price</th>
                                <th>SKU</th>
                                @*<th>Quantity</th>*@
                                <th>Date From</th>
                                <th>Date To</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="add-product-card" class="card">
            <div class="card-header ">
                <h3 class="card-header-title" id="add-edit-product"></h3>
                <div class="card-tools pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Close" onclick="cancelProduct()"><i class="fe fe-x"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div style="float:left;width:55%;">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="product-name">
                            Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="form-control" name="product-name" id="product-name" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="category">
                            Category
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-12 col-md-8">
                            <select name="category[]" id="category" class="form-control" multiple="multiple" style="width:100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="actual-price">
                            Actual price
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-12 col-md-8">
                            <input type="number" class="form-control" name="actual-price" id="actual-price" placeholder="Actual price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="special-price">Special price</label>
                        <div class="col-sm-12 col-md-8">
                            <input type="number" class="form-control" name="special-price" id="special-price" placeholder="Special price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="sku">
                            SKU
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" class="form-control" name="sku" id="sku" placeholder="SKU">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label" for="quantity">
                            Quantity
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-12 col-md-8">
                            <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-3 col-form-label">Date</label>

                        <div class="col-sm-12 col-md-8">
                            <div style="float:left;">
                                <label style="float:left;margin-right:10px;font-weight:100;">From</label>
                                <div class='input-group' id='datefromcalander' style="width:150px;float:left;">
                                    <input class="form-control" type="text" name="datefrom" id="datefrom">
                                    <div class="input-group-addon">
                                        <span class="input-group-text">
                                            <i class="fe fe-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="float:right;">
                                <label style="float:left;margin-right:10px;font-weight:100;">To</label>
                                <div class='input-group' id='datetocalander' style="width:150px;float:right;">

                                    <input style="float:right;" class="form-control" type="text" name="dateto" id="dateto">
                                    <div class="input-group-addon">
                                        <span class="input-group-text">
                                            <i class="fe fe-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="attributes" style="margin-top: 15px;"></div>
                </div>
                <div style="float:right;width:45%;">
                    <div id="product-image-card" class="card">
                        <div class="card-header ">
                            <h5 class="card-header-title">Product images </h5>
                            <div class="card-tools pull-right">
                                <button class="btn lift btn-primary" onclick="initializeImageCropper('product')" data-toggle="tooltip" title="Add product image"><span>Add Image</span><i class="fe fe-plus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="product-img-list-container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelProduct()">Cancel</button>
                    <button class="btn lift btn-primary" onclick="confirmAddEditProduct(0)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var AttributeValues = [];
    var currentOP = "";
    var fromDateString = "";
    var toDateString = "";
    var selectedId = 0;
    var allAttributes = [];
    var newProductImageDataUrl = [];
    var newProductImageDataUrlTempId = [];
    var productImageToDelete = [];
    var selectedProductIdList = [];

    $("#add-product-card").hide();
    $(document).ready(function () {
        initializePgae();
    });

    function initializePgae() {
        $("#product-table-card").show();
        $("#add-product-card").hide();
        LoadCategories();
        DateRangeInit();
        LoadProductList();
    }

    function DateRangeInit() {
        try {
            $('#datefromcalander').datetimepicker({
                format: 'DD-MM-YYYY'
            });
            $('#datetocalander').datetimepicker({
                format: 'DD-MM-YYYY',
                useCurrent: false
            });
            $("#datefromcalander").on("dp.change", function (e) {
                $('#datetocalander').data("DateTimePicker").minDate(e.date);
                fromDateString = moment(e.date, "DD-MM-YYYY").format('YYYY-MM-DD');
            });
            $("#datetocalander").on("dp.change", function (e) {
                $('#datefromcalander').data("DateTimePicker").maxDate(e.date);
                toDateString = moment(e.date, "DD-MM-YYYY").format('YYYY-MM-DD');
            });
            fromDateString = moment(new Date()).format("YYYY-MM-DD");
            toDateString = moment(new Date()).format("YYYY-MM-DD");
        } catch (e) {

        }
    }


    function LoadProductList() {
        $("#product-table-card").show();
        $("#add-product-card").hide();
        $('#product-table').dataTable({
            "paging": true,
            "ordering": true,
            "filter": true,
            "destroy": true,
            "orderMulti": false,
            "serverSide": true,
            "Processing": true,
            "columnDefs": [
                { "width": "1%", "targets": [0] },
                { "width": "1%", "targets": [1] },
                { "width": "10%", "targets": [2] },
                { "width": "15%", "targets": [3] },
                { "width": "20%", "targets": [4] },
                { "width": "5%", "text-align": "center", "targets": [5] },
                { "width": "5%", "text-align": "center", "targets": [6] },
                { "width": "5%", "text-align": "center", "targets": [7] },
                //{ "width": "5%", "targets": [8] },
                { "width": "10%", "targets": [8], render: $.fn.dataTable.render.moment('DD-MM-YYYY') },
                { "width": "10%", "targets": [9], render: $.fn.dataTable.render.moment('DD-MM-YYYY') },
                { "width": "18%", "targets": [10] }
            ],
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax":
            {
                "url": apiUrl + "api/product/GetAllProducts",
                "type": "POST",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
                },
                "dataSrc": function (response) {
                    return response.data;
                }
            },
            "drawCallback": function (settings) {
                setSelectProductEvent();
            },
            "aoColumns": [
                {
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        return '<div class="custom-control custom-checkbox table-checkbox"><input value="' + full.id + '" id="productid_' + full.id + '" type="checkbox" class="custom-control-input productSelect" name="productSelectionGroup"><label class="custom-control-label" for="productid_' + full.id + '">&nbsp;</label></div>';
                    }
                },
                { "data": "id" },
                {
                    "mDataProp": "productImage",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        if (full.productImage == null) {
                            full.productImage = "no-image.jpg";
                        }
                        return '<img src="' + appS3Url + 'products/' + full.productImage + '" style="width:100%;" alt="Product Image">';
                    }
                },
                { "data": "name" },
                { "data": "category", "sortable": false },
                { "data": "actualPrice", "sortable": false },
                { "data": "specialPrice", "sortable": false },
                { "data": "sku" },
                //{ "mDataProp": "quantity" },
                { "data": "dateFrom" },
                { "data": "dateTo" },
                {
                    "data": "",
                    "defaultContent": '<i style="width:10%;" class="fe fe-x-circle item-action-btn lift tree-item-remove-btn" data-toggle="tooltip" title="Delete product" onclick="ConfirmDeleteOperation(this)"></i><i style="width:10%;" class="fe fe-edit-3 item-action-btn lift tree-item-edit-btn" data-toggle="tooltip" title="Edit product" onclick="EditProduct(this)"></i>',
                    "searchable": false,
                    "sortable": false
                }

            ]
        })

    }

    function LoadCategories() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/Product/GetAllCategories",
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                var allCategories = result.response.item1;
                allAttributes = result.response.item2;
                var categories = $.map(allCategories, function (e) {
                    if (e["attributeIds"] == undefined || e["attributeIds"] == null || e["attributeIds"] === "")
                        return { "id": JSON.stringify({ "id": e["id"], "attrs": [] }), "text": e["name"] };
                    var categoryAttributes = e["attributeIds"].split(",");
                    var attrArray = $.grep(allAttributes, function (o) { return categoryAttributes.includes(o.id.toString()); });
                    var filteredAttrArray = $.map(attrArray, function (mo) { return { id: mo["id"], name: mo["name"], type: mo["type"] } });
                    return { "id": JSON.stringify({ "id": e["id"], "attrs": filteredAttrArray }), "text": e["name"] };
                });
                $('#category').select2({
                    data: categories
                }).on('select2:select', function (e) {
                    LoadAttributes();
                }).on('select2:unselect', function (e) {
                    LoadAttributes();
                });
            }
        });
    }

    function StoreState(el) {
        var dynAttrs = $.grep(AttributeValues, function (o) { return o.id === $(el).attr("attrid").toString(); })
        if (dynAttrs.length > 0) dynAttrs[0]["value"] = $(el).val();
        else AttributeValues.push({ "id": $(el).attr("attrid").toString(), "value": $(el).val() });
    }

    function LoadAttributes() {
        var data = $('#category').select2('data');
        var attrs = $.map(data, function (o) { return JSON.parse(o["id"])["attrs"] });
        var attrsHtml = "";
        var uniq = [];
        $.each(attrs, function (key, value) {
            if (!uniq.includes(value.id)) {
                var dynAttrs = $.grep(AttributeValues, function (o) { return o.id === value.id.toString(); })
                var initValue = "";
                if (dynAttrs.length > 0) initValue = dynAttrs[0]["value"];
                attrsHtml += '<div class="form-group row">';
                attrsHtml += '<label class="col-sm-12 col-md-3 col-form-label" for="quantity">' + value.name + '</label>';
                attrsHtml += '<div class="col-sm-12 col-md-8">';
                attrsHtml += '<input type="text" value="' + initValue + '" class="form-control" onblur="StoreState(this)" attrid="' + value.id + '" name="attr_' + value.id + '" id="attr_' + value.id + '" placeholder="' + value.name + '">';
                attrsHtml += '</div></div>';
                uniq.push(value.id);
            }
        })
        if (attrsHtml === "") AttributeValues = [];
        $("#attributes").html(attrsHtml);
    }

    function addNewProduct() {
        selectedId = 0;
        $("#product-table-card").hide();
        $("#add-product-card").show();
        $("#add-edit-product").html("Add new product");
        clearProductForm();
        currentOP = "add";
        newProductImageDataUrl = [];
        var newProductImageDataUrlTempId = [];
        productImageToDelete = [];
    }

    function EditProduct(obj) {
        selectedId = parseInt($.trim($(obj).closest('tr').find('td:first').html()));
        LoadSelectedProduct();
        newProductImageDataUrl = [];
        var newProductImageDataUrlTempId = [];
        productImageToDelete = [];
        getProductImages(selectedId);
    }

    function LoadSelectedProduct() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/Product/GetProductByID?id=" + selectedId,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response != null && result.response.length > 0) {
                    LoadSelectedProductValuesToForm(result.response[0]);
                }
            }
        });
    }

    function LoadSelectedProductValuesToForm(data) {
        $("#product-table-card").hide();
        $("#add-product-card").show();
        $("#add-edit-product").html("Edit product");
        currentOP = "edit";
        clearProductForm();
        $("#product-name").val(data["name"]);
        var catArr = [];
        var cat = data["category"].split(',')
        var catAttri = data["categoryAttributes"];
        var attrs = $.map(catAttri, function (o) { return parseInt(o["id"]) });
        $.each(cat, function (key, value) {
            var opt = $.grep($('#category > option'), function (e) {
                return JSON.parse($(e).val()).id == value
            });
            catArr.push($(opt).val());
        });
        $('#category').val(catArr).trigger('change');
        $("#actual-price").val(data["actualPrice"]);
        $("#special-price").val(data["specialPrice"]);
        $("#sku").val(data["sku"]);
        $("#quantity").val(data["quantity"]);
        $("#datefrom").val(moment(data["dateFrom"], "YYYY-MM-DD").format("DD-MM-YYYY"));
        $("#dateto").val(moment(data["dateTo"], "YYYY-MM-DD").format("DD-MM-YYYY"));
        AttributeValues = data["categoryAttributes"];
        LoadAttributes();
        fromDateString = moment(data["dateFrom"], "YYYY-MM-DD").format("YYYY-MM-DD");
        toDateString = moment(data["dateTo"], "YYYY-MM-DD").format("YYYY-MM-DD");
    }

    function ConfirmDeleteOperation(e) {
        bootbox.confirm({
            title: "Delete operation!",
            message: "Do you want to delete this product? This cannot be undone.",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { DeleteProduct(e) };
            }
        });
    }

    function DeleteProduct(obj) {
        waitMe_show('#app-page-content');
        selectedId = parseInt($.trim($(obj).closest('tr').find('td:first').html()));
        currentOP = "delete";
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/Product/DeleteProduct/" + selectedId,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response != null) {
                    toastr["success"]("selected product is deleted.");
                    LoadProductList();
                } else {
                    toastr["error"]("Please select proper product!");
                }
            }
        });
    }

    function cancelProduct() {
        clearProductForm();
        productOnAction = null;
        LoadProductList();
    }

    function clearProductForm() {
        $("#product-name").val("");
        $('#category').val(null).trigger('change');
        $("#actual-price").val("");
        $("#special-price").val("");
        $("#sku").val("");
        $("#quantity").val("");
        $("#datefrom").val("");
        $("#dateto").val("");
        AttributeValues = [];
        fromDateString = moment(new Date()).format("YYYY-MM-DD");
        toDateString = moment(new Date()).format("YYYY-MM-DD");
        $("#attributes").html('');
        clearProductImage();
    }

    function confirmAddEditProduct() {
        if ($.trim($("#product-name").val()) === "") {
            toastr["warning"]("Please enter product name!");
            $("#product-name").focus();
            return;
        }
        var data = $('#category').select2('data');
        if (data.length == 0) {
            toastr["warning"]("Please choose category!");
            $("#category").focus();
            return;
        }
        if ($.trim($("#actual-price").val()) === "") {
            toastr["warning"]("Please enter actual price!");
            $("#actual-price").focus();
            return;
        }
        if ($.trim($("#sku").val()) === "") {
            toastr["warning"]("Please enter unit!");
            $("#sku").focus();
            return;
        }
        if ($.trim($("#quantity").val()) === "") {
            toastr["warning"]("Please enter quantity!");
            $("#quantity").focus();
            return;
        }
        var catIds = $.map(data, function (e) { return JSON.parse(e.id)["id"] });
        var saveData = {
            "productInfo": {
                "Id": selectedId,
                "Name": $("#product-name").val(),
                "ActualPrice": parseFloat($("#actual-price").val()),
                "SpecialPrice": $.trim($("#special-price").val()) == "" ? 0 : parseFloat($("#special-price").val()),
                "Sku": $("#sku").val(),
                "Quantity": parseFloat($("#quantity").val()),
                "Category": catIds.join(","),
                "DateFrom": fromDateString,
                "DateTo": toDateString,
                "IsDelete": false,
                "CategoryAttributes": AttributeValues
            },
            "newProductImageDataUrl": newProductImageDataUrl,
            "productImageToDelete": productImageToDelete

        };
        var actionMethod = "CreateNewProduct";
        if (selectedId != 0) actionMethod = "UpdateProduct";
        waitMe_show('#app-page-content');
        $.ajax({
            type: "POST",
            url: apiUrl + "api/Product/" + actionMethod,
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(saveData),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    clearProductForm();
                    if (selectedId != 0) {
                        toastr["success"]("selected product is updated successfully.");
                    } else {
                        toastr["success"]("New product is created successfully.");
                    }
                    LoadProductList();
                }
                else {
                    toastr["error"]("Failed to create/update new product!");
                }
            }
        });
    }


    function getProductImages() {
        waitMe_hide('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/Product/GetProductImages/" + selectedId,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response != null) {
                    result.response.forEach(function (imageSrc) {
                        drawProductImage(imageSrc, false);
                    });
                } else {
                }
            }
        });
    }

    function removeProductImage(event, fileValue) {

        var indexOfTempId = newProductImageDataUrlTempId.indexOf(parseInt(fileValue));
        if (indexOfTempId > -1) {
            newProductImageDataUrlTempId.splice(indexOfTempId, 1);
            newProductImageDataUrl.splice(indexOfTempId, 1);
        } else {
            productImageToDelete.push(fileValue + ".jpeg");
        }

        $("#" + fileValue).css('display', 'none');
        $("#" + fileValue).remove();
    }

    function setSelectProductEvent() {
        selectedProductIdList = [];
        $('#productSelectAll').on('click', function (e) {
            var allProductId = [];
            var selectAll = false;
            var productClassList = $('.productSelect');
            for (i = 0; i < productClassList.length; i++) {
                allProductId.push(productClassList[i].value);
                var index = selectedProductIdList.indexOf(productClassList[i].value);
                if (index < 0) {
                    selectAll = true;
                }
            }
            selectedProductIdList = [];
            if (selectAll) {
                selectedProductIdList = allProductId;
            }
            debugger;
        })

        $('.productSelect').on('click', function (e) {
            var productValue = $("#" + e.target.id)[0].value
            var index = selectedProductIdList.indexOf(productValue);
            if (index < 0) {
                selectedProductIdList.push(productValue);
            }
            else {
                selectedProductIdList.splice(index, 1);
            }
            debugger;
        })
    }

</script>
