﻿@page
@model MerricartPresentation.Pages.Modules.User.UserProfileModel
@{

    ViewData["Title"] = "";
}




<div class="row">
    <div class="col-12">
        <div id="user-info-card" class="card">
            <div class="card-header">
                <h3 class="card-header-title readonly-myprofile">My Profile</h3>
                <h3 class="card-header-title edit-myprofile">Update My Profile</h3>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div style="width:70%;float:left;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                First Name
                                <span class="mandatory-indication edit-myprofile">
                                    <label class="mandatory-indication-symbol">*</label>
                                </span>
                            </label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control edit-myprofile" id="first-name-txt" placeholder="First Name">
                                <label class="col-form-label readonly-myprofile" id="first-name-lbl"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Last Name
                                <span class="mandatory-indication edit-myprofile">
                                    <label class="mandatory-indication-symbol">*</label>
                                </span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control edit-myprofile" id="last-name-txt" placeholder="Last Name">
                                <label class="col-form-label readonly-myprofile" id="last-name-lbl"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Login Email
                                <span class="mandatory-indication edit-myprofile">
                                    <label class="mandatory-indication-symbol">*</label>
                                </span>
                            </label>
                            <div class="col-sm-8">
                                <label class="col-form-label" id="login-email-lbl"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-8">
                                <label class="col-form-label" id="my-role-lbl"></label>
                            </div>
                        </div>
                    </div>
                    <div style="float:right;width:15%;margin-right:30px;" class="img-preview-container inputImage" onclick="initializeImageCropper('user')" id="user-img-div">
                        <img src="" class="avatar-img rounded-circle user-image" onerror="this.onerror=null; this.src='https://merricart-dev.s3.ap-south-1.amazonaws.com/user/no-user.png'" alt="User Image">
                        @*<button class="btn lift btn-primary readonly-myprofile" style="margin:10px 0 10px 10px;">Edit profile picture</button>*@
                        <div class="middle">
                            <div><i class="fe fe-camera" style="font-size:xx-large;" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;" class="edit-myprofile">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger edit-myprofile" onclick="cancelChanges()">Cancel</button>
                    <button class="btn lift btn-primary edit-myprofile" id="save-changes-btn" onclick="savechanges()">Save changes</button>
                    <button class="btn lift btn-primary readonly-myprofile" onclick="resetPassword()">Reset password</button>
                    <button class="btn lift btn-primary readonly-myprofile" onclick="editUserProfile()">Edit profile</button>
                </div>
            </div>

        </div>


        <div id="reset-password-card" class="card">
            <div class="card-header">
                <h3 class="card-header-title">Reset password</h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Login Email
                        </label>
                        <div class="col-sm-8">
                            <label class="col-form-label" id="reset-login-email-lbl"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Current password
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>

                        <div class="col-sm-4 input-group input-group-merge">
                            <input type="password" class="form-control form-control-appended" id="current-pass" placeholder="Current password">
                            <!-- Icon -->
                            <div class="input-group-append" style="display:block !important;">
                                <span class="input-group-text password-eye" control-for="current-pass">
                                    <i class="fe fe-eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            New password
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>

                        <div class="col-sm-4 input-group input-group-merge">
                            <input type="password" class="form-control form-control-appended" id="new-pass" placeholder="New password">
                            <!-- Icon -->
                            <div class="input-group-append" style="display:block !important;">
                                <span class="input-group-text password-eye" control-for="new-pass">
                                    <i class="fe fe-eye"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        Confirm new password
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label>
                        </span>
                    </label>

                    <div class="col-sm-4 input-group input-group-merge">
                        <input type="password" class="form-control form-control-appended" id="confirm-new-pass" placeholder="Confirm new password">
                        <!-- Icon -->
                        <div class="input-group-append" style="display:block !important;">
                            <span class="input-group-text password-eye" control-for="confirm-new-pass">
                                <i class="fe fe-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelChanges()">Cancel</button>
                    <button class="btn lift btn-primary" id="reset-password-btn" onclick="confirmResetPassword()">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    initialize();
    function initialize() {
        viewUserProfile();
    }
    function viewUserProfile() {
        $('.edit-myprofile').hide();
        $('.readonly-myprofile').show();
        $('#user-info-card').show();
        $('#reset-password-card').hide();
        setReadonlyUserProfileValues();
    }

    function editUserProfile() {
        $('.edit-myprofile').show();
        $('.readonly-myprofile').hide();
        setEditUserProfileValues();
    }
    function cancelChanges() {
        viewUserProfile();
    }
    function setEditUserProfileValues() {

        $("#first-name-txt")[0].value = localStorage.getItem('firstName');
        $("#last-name-txt")[0].value = localStorage.getItem('lastName');

    }

    function setReadonlyUserProfileValues() {
        $("#first-name-lbl")[0].innerText = localStorage.getItem('firstName');
        $("#last-name-lbl")[0].innerText = localStorage.getItem('lastName');
        $("#login-email-lbl")[0].innerText = $.cookie("loginEmail");
        $("#my-role-lbl")[0].innerText = $.cookie("role");

    }

    function savechanges() {
        if (validateUserForm()) {
            updateUser();
            diableSaveChanges();
        }
    }
    function resetPassword() {
        $('#user-info-card').hide();
        $('#reset-password-card').show();
        clearResetPasswordForm();
    }

    function validateUserForm() {
        if ($("#first-name-txt")[0].value.trim() == "" || $("#last-name-txt")[0].value.trim() == "") {
            toastr["warning"]("Please enter all mandatory fields!")
            return false;
        }
        else {
            return true;
        }
    }

    function validateResetPasswordForm() {
        if ($("#current-pass")[0].value.trim() == "" || $("#new-pass")[0].value.trim() == "" || $("#confirm-new-pass")[0].value.trim() == "") {
            toastr["warning"]("Please enter all mandatory fields!")
            return false;
        }
        else if ($("#new-pass")[0].value.trim() != $("#confirm-new-pass")[0].value.trim()) {
            toastr["warning"]("New password and confirm password does not match!")
            return false;
        }
        else if ($("#new-pass")[0].value.trim() == $("#current-pass")[0].value.trim()) {
            toastr["warning"]("Current password and New password should not be same!")
            return false;
        }
        else {
            return true;
        }
    }

    function clearResetPasswordForm() {
        $("#reset-login-email-lbl")[0].innerText = $.cookie("loginEmail");
        $("#current-pass")[0].value = "";
        $("#new-pass")[0].value = "";
        $("#confirm-new-pass")[0].value = "";
    }

    function confirmResetPassword() {
        if (validateResetPasswordForm()) {
            disableRsestPasswordBtn();
            var resetPassword = {
                loginEmail: $.cookie("loginEmail"),
                currentPassword: $("#current-pass")[0].value.trim(),
                newPassword: $("#new-pass")[0].value.trim(),
                confirmPassword: $("#confirm-new-pass")[0].value.trim()
            }
            waitMe_show('#app-page-content');
            $.ajax({
                type: 'POST',
                url: apiUrl + "api/authentication/ResetPassword/",
                headers: {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                },
                dataType: "json",
                data: JSON.stringify(resetPassword),
                success: function (result) {
                    waitMe_hide('#app-page-content');
                    enableRsestPasswordBtn();
                    if (result.statusCode == "201") {
                        toastr["success"]("Your password has been reset!")
                        viewUserProfile();
                    }
                    else {
                        toastr["error"](result.statusDescription)
                    }
                }
            });
        }
    }

    function enableRsestPasswordBtn() {
        $("#reset-password-btn").attr("disabled", false);
        $("#reset-password-btn").html("Confirm");
    }

    function disableRsestPasswordBtn() {
        $("#reset-password-btn").attr("disabled", true);
        $("#reset-password-btn").html("Please wait...");
    }

    function enableSaveChanges() {
        $("#save-changes-btn").attr("disabled", false);
        $("#save-changes-btn").html("Save changes");
    }

    function diableSaveChanges() {
        $("#save-changes-btn").attr("disabled", true);
        $("#save-changes-btn").html("Please wait...");
    }

    function updateUser() {
        waitMe_show('#app-page-content');
        var userInfo = {
            id: parseInt($.cookie("userId")),
            firstName: $("#first-name-txt")[0].value.trim(),
            lastName: $("#last-name-txt")[0].value.trim(),
            loginEmail: $.cookie("loginEmail"),
            isActive: true,
        }

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/user/UpdateMyProfile/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(userInfo),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                enableSaveChanges();
                if (result.response) {
                    setCookie(userInfo);
                    viewUserProfile();
                    toastr["success"]("User updated!")
                }
                else {
                    toastr["error"]("Failed to update User!")
                }
            }
        });
    }

    function setCookie(userInfo) {

        localStorage.setItem('firstName', userInfo.firstName);
        localStorage.setItem('lastName', userInfo.lastName);
        setUserInfo();
    }

        //$('#user-img-div').on('click', function (e) {
        //    e.preventDefault();
        //    //$("#cropper-html").load('/Modules/user/crop');

        //})

</script>
