﻿@page
@model MerricartPresentation.Pages.Modules.User.UsersModel
@{

    ViewData["Title"] = "";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="#"><i class="fe fe-users"></i> Users</a></li>
    </ol>
}


<div class="row">
    <div class="col-12">
        <div id="user-list-card" class="card">
            <div class="card-header">
                <h3 class="card-header-title">User List</h3>
                <div class="pull-right">
                    <button style="float:right;" class="btn lift btn-primary" onclick="addNewUser()"><span>Add user  </span><i class="fe fe-user-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="user-list" class="table-responsive">
                    <table id="user-table" class="table table-sm table-nowrap card-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th style="width:100px;">user image</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Login Email</th>
                                <th>Role</th>
                                <th>IsActive</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                @*<button style="float:right;" class="btn lift btn-primary" onclick="confirmActiveUserUpdate()">Save changes</button>*@
            </div>
        </div>
        <div id="add-user-card" class="card">
            <div class="card-header">
                <h3 class="card-header-title" id="add-edit-user"></h3>
                <div class="pull-right">
                    <button class="btn lift btn-card-tool" data-toggle="tooltip" title="Remove" onclick="cancelUser()"><i class="fe fe-x"></i></button>
                </div><!-- /.-->
            </div><!-- /.card-header -->
            <div class="card-body">
                <div style="float:left;width:70%;">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            First Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="first-name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Last Name
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Login Email
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="login-email" placeholder="Login EMail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            Role
                            <span class="mandatory-indication">
                                <label class="mandatory-indication-symbol">*</label>
                            </span>
                        </label>
                        <div class="col-sm-8 ckbx-style-13">
                            <select name="user-role[]" id="user-role" class="form-control" multiple="multiple" style="width:100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">IsActive</label>
                        <div class="col-sm-8 ckbx-style-13">
                            <input type="checkbox" class="form-check-input" id="isactive-user">
                            <label for="isactive-user"></label>
                        </div>
                    </div>
                </div>
                <div style="float:right;width:15%;margin-right:30px;" class="img-preview-container inputImage" id="selected-user-image">
                    <img id="user-img" src="" class="img-circle selected-user-image" onerror="this.onerror=null; this.src='https://merricart-dev.s3.ap-south-1.amazonaws.com/user/no-user.png'" alt="User Image">
                </div>
            </div>
            <div class="card-footer">
                <div style="float:left;margin-top:10px;">
                    <label>
                        <i class="fe fe-alert-circle"></i>
                        <span class="mandatory-indication">
                            <label class="mandatory-indication-symbol">*</label><label class="mandatory-indication-text"> Mandatory fields</label>
                        </span>
                    </label>
                </div>
                <div style="float:right;">
                    <button class="btn lift btn-danger" onclick="cancelUser()">Cancel</button>
                    <button class="btn lift btn-primary edit-user-form" onclick="confirmEditUser()">update</button>
                    <button class="btn lift btn-primary create-user-form" onclick="confirmCreateUser()">Create</button>
                </div>
            </div>
        </div><!-- /.card -->

    </div>
</div>


<script type="text/javascript">

    var userInfoOnAction = null;
    var userDataTableSourceData = null;
    var userListDataTable = null;
    var roleList = [];

    initializePage();

    function initializePage() {
        loadUserList();
        getAllRoles();
    }

    function loadUserList() {
        showUserList();
        drawUserListDataTable();
    }

    function showUserList() {
        $("div#user-list-card").show();
        $("div#add-user-card").hide();
    }

    function drawUserListDataTable() {

        if (userListDataTable != null) {
            userListDataTable.fnDestroy();
        }
        userListDataTable = $('#user-table').dataTable({
            "paging": true,
            "ordering": true,
            "filter": true,
            "destroy": true,
            "orderMulti": false,
            "serverSide": true,
            "Processing": true,
            "columnDefs": [
                { "width": "5%", "targets": [0] }
            ],
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax":
            {
                "url": apiUrl + "api/user/GetAllUsers",
                "type": "GET",
                "dataType": "JSON",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
                },
                "dataSrc": function (response) {
                    userDataTableSourceData = response;
                    debugger;
                    return userDataTableSourceData.data;
                }
            },
            "drawCallback": function (settings) {
                applyDataTableCheckboxValues();
            },
            "aoColumns": [
                {
                    "mDataProp": "id",
                    "sortable": false
                },
                {
                    "mDataProp": "userImage",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        if (full.userImage == null) {
                            full.userImage = "no-user.png";
                        }
                        return '<img src="' + appS3Url + 'user/' + full.userImage + '" class="rounded-circle list-user-image" alt="User Image">';
                    }
                },
                { "mDataProp": "firstName" },
                { "mDataProp": "lastName" },
                { "mDataProp": "loginEmail" },
                { "mDataProp": "roleName" },
                {
                    "mDataProp": "isActive",
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return '<div class="ckbx-style-13"><input disabled type="checkbox" class="form-check-input" id="isactive-user_' + full.id + '"><label for="isactive-user_' + full.id + '"></label></div>';
                    }
                },
                {
                    "mDataProp": "",
                    "defaultContent": '<i style="width:20%;" class="fe fe-x-circle item-action-btn lift tree-item-remove-btn" onclick="confirmDeleteUser(event)"></i><i style="width:20%;" class="fe fe-edit-3 item-action-btn lift tree-item-edit-btn" onclick="editUser(event)"></i>',
                    "searchable": false,
                    "sortable": false
                }

            ]
        })
    }

    function applyDataTableCheckboxValues() {
        $.each(userDataTableSourceData.data, function (index, obj) {
            $("#isactive-user_" + obj.id + "")[0].checked = obj.isActive;
            //$("#isadmin-user_" + obj.id + "")[0].checked = obj.isAdmin;

        })
    }

    function editUser(e) {
        setUserInfoOnAction(e);
        var boxHeader = "Edit user : " + userInfoOnAction.firstName;
        $("#add-edit-user").text(boxHeader);

        $(".edit-user-form").show();
        $(".create-user-form").hide();

        clearUserForm();
        loadAddEditUserForm();
    }

    function cancelUser() {
        loadUserList();
        clearUserForm();
        userInfoOnAction = null;
    }

    function clearUserForm() {
        $("#selected-user-image")[0].innerHTML = '<img src="' + appS3Url + 'user/no-user.png' + '" class="rounded-circle list-user-image" alt="User Image">';
        $("#first-name")[0].value = "";
        $("#last-name")[0].value = "";
        $("#login-email")[0].value = "";
        $("#isactive-user")[0].checked = false;
    }

    function resetUserInfoOnAction() {
        userInfoOnAction = {
            id: 0,
            userImage: '<img src="' + appS3Url + 'user/no-user.png' + '" class="rounded-circle list-user-image" alt="User Image">',
            firstName: "",
            lastName: "",
            loginEmail: "",
            isActive: false,
            userRole: ""
        };
    }

    function loadAddEditUserForm() {
        $("#selected-user-image")[0].innerHTML = userInfoOnAction.userImage;
        $("#first-name")[0].value = userInfoOnAction.firstName;
        $("#last-name")[0].value = userInfoOnAction.lastName;
        $("#login-email")[0].value = userInfoOnAction.loginEmail;
        $("#isactive-user")[0].checked = userInfoOnAction.isActive;
        $('#user-role').select2({
            data: roleList
        }).on('select2:select', function (e) {
        }).on('select2:unselect', function (e) {
        });
        $('#user-role').val(userInfoOnAction.userRole).trigger('change');
        $("div#user-list-card").hide();
        $("div#add-user-card").show();
    }

    function confirmDeleteUser(e) {
        setUserInfoOnAction(e);

        bootbox.confirm({
            title: "Delete operation!",
            message: "Do you want to delete this user? This cannot be undone.",
            buttons: {
                cancel: {
                    label: '<i class="fe fe-x"></i> No'
                },
                confirm: {
                    label: '<i class="fe fe-check"></i> Yes',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) { deleteUser() };
            }
        });
    }

    function setUserInfoOnAction(e) {

        var sourceData = e.target.parentElement.parentElement.cells;
        userInfoOnAction = {};
        userInfoOnAction.id = Number.parseInt(sourceData[0].textContent);
        userInfoOnAction.userImage = e.target.parentElement.parentElement.cells[1].innerHTML;
        userInfoOnAction.firstName = sourceData[2].textContent;
        userInfoOnAction.lastName = sourceData[3].textContent;
        userInfoOnAction.loginEmail = sourceData[4].textContent;
        userInfoOnAction.isActive = $("#isactive-user_" + userInfoOnAction.id + "")[0].checked;
        userInfoOnAction.userRole = [];

        $.each(sourceData[5].textContent.split(','), function (key, value) {
            var selectedRoles = $.grep(roleList, function (e) {
                return e.text == value.trim();
            });
            if (selectedRoles != null && selectedRoles.length > 0) {
                userInfoOnAction.userRole.push(selectedRoles[0].id);
            }
        });
    }

    function confirmEditUser() {
        if (validateUserForm()) {

            bootbox.confirm({
                title: "Update user!",
                message: "Are you sure, do you want to Update this user? ",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { updateUser() };
                }
            });

        }
    }

    function confirmCreateUser() {
        if (validateUserForm()) {

            bootbox.confirm({
                title: "Create new user!",
                message: "Are you sure, do you want to Create this user as New? ",
                buttons: {
                    cancel: {
                        label: '<i class="fe fe-x"></i> No'
                    },
                    confirm: {
                        label: '<i class="fe fe-check"></i> Yes',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { createUser() };
                }
            });
        }
    }

    function deleteUser() {
        waitMe_show('#app-page-content');
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/user/DeleteUser/" + userInfoOnAction.id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');

                if (result.response) {
                    loadUserList();

                    $("#confirm-dialog").modal("hide");
                    toastr["success"]("User deleted!")
                }
                else {
                    toastr["error"]("Failed to delete user!")
                }
            }
        });
    }

    function getUserFormInputValues() {
        userInfoOnAction.firstName = $("#first-name")[0].value;
        userInfoOnAction.lastName = $("#last-name")[0].value;
        userInfoOnAction.loginEmail = $("#login-email")[0].value;
        userInfoOnAction.isActive = $("#isactive-user")[0].checked;
        userInfoOnAction.userRole = $('#user-role').val().toString();
    }

    function createUser() {
        waitMe_show('#app-page-content');
        getUserFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/user/InsertUser/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(userInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    userInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    loadUserList();
                    toastr["success"]("New User Created!")
                }
                else {
                    toastr["error"]("Failed to create user!")
                }
            }
        });
    }

    function updateUser() {
        waitMe_show('#app-page-content');
        getUserFormInputValues();

        $.ajax({
            type: 'POST',
            url: apiUrl + "api/user/UpdateUser/",
            headers: {
                "content-type": "application/json",
                "cache-control": "no-cache",
            },
            processData: false,
            dataType: "json",
            data: JSON.stringify(userInfoOnAction),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                waitMe_hide('#app-page-content');
                if (result.response) {
                    userInfoOnAction = null;
                    $("#confirm-dialog").modal("hide");
                    loadUserList();
                    toastr["success"]("User updated!")
                }
                else {
                    toastr["error"]("Failed to update User!")
                }
            }
        });
    }

    function validateUserForm() {
        if ($("#first-name")[0].value.trim() == "" || $("#last-name")[0].value.trim() == "" || $("#login-email")[0].value.trim() == "" || $('#user-role').val().toString().trim() == "") {
            toastr["warning"]("Please enter all mandatory fields!")
            return false;
        }
        else {
            return true;
        }
    }

    function addNewUser() {

        resetUserInfoOnAction();
        userInfoOnAction.id = 0;
        userInfoOnAction.isActive = true;

        var boxHeader = "Add New user";
        $("#add-edit-user").text(boxHeader);

        $(".edit-user-form").hide();
        $(".create-user-form").show();

        clearUserForm();
        loadAddEditUserForm();
    }

    function getAllRoles() {
        $.ajax({
            type: 'GET',
            url: apiUrl + "api/admin/GetAllRoles",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('authorizationtoken', $.cookie("sessionToken"));
            },
            success: function (result) {
                if (result.response != null) {

                    roleList = $.map(result.response, function (e) {
                        return { "id": e.id, "text": e.roleName };
                    });
                }
            }
        });
    }

</script>
<style>
    img.rounded-circle.list-user-image {
        width: 35%;
        margin-left: 12px;
    }

    div#selected-user-image img {
        margin-left: 0px !important;
    }
</style>
